@use "@abstracts/all-abstracts" as *;

.hero-wrapper {
  max-width: $layout-wide !important;
}

footer {
  background-color: $white;
}

h1 {
  color: $black;
  font-size: $text-xl;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  /* 2.03125rem */
  letter-spacing: -0.01625rem;
}

h2 {
  font-size: $text-xl;
  line-height: 110%;
}

p {
  color: $off-black;
  align-self: stretch;
}