.user-needs-cards_grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.card-small {
    @include flex(column, 0.5rem);
    width: 100%;
    margin: auto; // Center the container
    padding: 1.5rem;
    border-radius: 1rem;
    height: 100%;
    background-color: white;
    background-color: $lightest-green;
}

.card-small_headline {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    color: $primary-green;
    font-size: 1.35rem;
    font-weight: 500;

    &::first-letter {
        text-transform: capitalize;
    }
}

.card-small_icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    fill: $primary-green;
}

.boardspace-values_grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;

    margin: 1.5rem 0;
    width: 100%;

    @include breakpoint(mobile-lg) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(med) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.boardspace-values_grid-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 12px;
    align-items: center;
    background-color: #d3eaff;
    border-radius: 5px;
    overflow: hidden;
    min-width: 0;
    border: 0px solid #c0e1ff;

    p {
        margin: 0;
        line-height: 14px;
        font-size: 14px;
        align-self: center;
    }

    @include breakpoint(med) {
        flex-direction: column;
        justify-content: center;
        /* Center content horizontally */
        align-items: center;
        /* Center content vertically */
    }
}