.DS_Store
.vscode/settings.json
dist
.next
next-env.d.ts
node_modules
src/assets/images/postup/original/airbnb-winner.png
src/assets/images/postup/original/circle-green.png
src/assets/images/postup/original/compress_webp.py
src/assets/images/postup/original/constraint-research.png
src/assets/images/postup/original/constraints-research.png
src/assets/images/postup/original/Crazy_8's 2.png
src/assets/images/postup/original/crazy-8s-01.png
src/assets/images/postup/original/crazy-8s-02.png
src/assets/images/postup/original/crazy-8s-annotated.png
src/assets/images/postup/original/Current Availability.png
src/assets/images/postup/original/design-sprint-schedule-large.png
src/assets/images/postup/original/final-prototype-current-availability.png
src/assets/images/postup/original/flow-chart-procreate.jpeg
src/assets/images/postup/original/Frame 806.png
src/assets/images/postup/original/Frame 812.png
src/assets/images/postup/original/Frame 854.png
src/assets/images/postup/original/hf-wireframes-v1.png
src/assets/images/postup/original/High-Fidelity Screens 2.png
src/assets/images/postup/original/High-Fidelity Screens 7.png
src/assets/images/postup/original/IMG_5EA3F2790D72-1.jpeg
src/assets/images/postup/original/IMG_0647.jpg
src/assets/images/postup/original/IMG_0650.PNG
src/assets/images/postup/original/IMG_0654.PNG
src/assets/images/postup/original/interview-adam.png
src/assets/images/postup/original/interview-beth.png
src/assets/images/postup/original/interview-james.png
src/assets/images/postup/original/lightning-demos.png
src/assets/images/postup/original/logo-canva.png
src/assets/images/postup/original/monetization-strategy-map.jpg
src/assets/images/postup/original/PostUp User Persona 2.png
src/assets/images/postup/original/PostUp_Full_Storyboard.png
src/assets/images/postup/original/prototype-checklist.jpeg
src/assets/images/postup/original/prototype-v1-search-results-filtered.png
src/assets/images/postup/original/prototype-v1-wireflow.png
src/assets/images/postup/original/reservation-system.png
src/assets/images/postup/original/seating-available-now.png
src/assets/images/postup/original/sprint-schedule-friday.webp
src/assets/images/postup/original/sprint-schedule-large-green.webp
src/assets/images/postup/original/sprint-schedule-large-transparent.webp
src/assets/images/postup/original/sprint-schedule-large-white.webp
src/assets/images/postup/original/sprint-schedule-large.webp
src/assets/images/postup/original/sprint-schedule-monday.webp
src/assets/images/postup/original/sprint-schedule-thurs.webp
src/assets/images/postup/original/sprint-schedule-tuesday.webp
src/assets/images/postup/original/sprint-schedule-wed.webp
src/assets/images/postup/original/sprint-timeline.webp
src/assets/images/postup/original/storyboard-3-panel-max.png
src/assets/images/postup/original/storyboard-3-panel.png
src/assets/images/postup/original/storyboard-filters.png
src/assets/images/postup/original/storyboard-full.png
src/assets/images/postup/original/Untitled_Artwork 45.png
src/assets/images/postup/original/Untitled_Artwork 46.png
src/assets/images/postup/original/Untitled_Artwork 47.png
src/assets/images/postup/original/Untitled_Artwork 48.png
src/assets/images/postup/original/user-persona-nina-previous.png
src/assets/images/postup/original/user-persona-nina.png
src/assets/images/postup/original/user-persona-previous.png
