.test-findings-header-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.25rem;

    p {
        margin-bottom: 0;
    }
}

.test-findings_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 0.25rem;
    height: fit-content;
    background-color: $lightest-grey;
    height: 100%;

    ul {
        margin: 0;
        width: 100%;
    }

    .card_headline {
        color: $emphasis-blue;
        font-weight: 500;
        margin-bottom: 0;
        font-size: 1.25rem;
    }

    li {
        font-size: 1.125rem;
    }

    &.border-top-green {
        border-top: 0.5rem solid #2b8c64;
    }

    &.border-top-red {
        border-top: 0.5rem solid #dc1d26;
    }

    @include breakpoint(med) {
        padding-left: 2.5rem;
    }
}

.img-design-validation,
.img-design-invalidation {
    width: 1.25rem;
    height: auto;
    align-self: center;
}