@use "@abstracts/all-abstracts" as *;

.project-hero {
  display: flex;
  overflow: hidden;
  min-height: 17rem;
  height: calc(60vh - #{$navbar-mobile-height});
  max-height: 20.25rem;
  width: 100%;
  padding-top: calc(#{$navbar-mobile-height} + 1rem);

  &__video {
    display: flex;
    max-width: 75%;
    max-height: 21rem;
    margin: auto;

    &-postup {
      margin: auto;
      width: 50%;
    }

    &-wrapper {
      display: flex;
      margin: 0 auto;
      width: 100%;
    }
  }

  @include breakpoint(med) {
    max-height: 36rem;
    padding-top: calc(#{$navbar-desktop-height} + 2rem);

    &__video {
      margin: auto;
      max-height: none;
      max-width: 17rem;
    }
  }

  @include breakpoint(xl) {
    max-height: none;
  }

  @include breakpoint(xxl) {
    height: calc(60vh - #{$navbar-desktop-height});
  }
}
