@use "@abstracts/all-abstracts" as *;

$details-wrapper-gap: space(4);
$details-wrapper-gap-xl: space(20);
$details-wrapper-gap-xxl: space(24);

.overview {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: space(8) 0;
  height: fit-content;
  gap: space(4);

  &__content-wrapper,
  &__content-wrapper--boardspace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 90vw;
    gap: space(6);

    &__boardspace {
      max-width: 90vw;
    }

    @include breakpoint(med) {
      flex-direction: row;
      gap: space(8);
      margin: 0 auto;
      align-items: stretch;
    }

    @include breakpoint(lg) {
      margin: 0 auto;
      gap: $details-wrapper-gap-xl;
    }

    @include breakpoint(xxl) {
      gap: $details-wrapper-gap-xxl;
    }
  }

  &__title {
    color: $black;
    font-size: clamp(2.66rem, 8vw, 6rem);
    font-weight: 550;
    line-height: 100%;
    letter-spacing: 0.02rem;
    margin-bottom: space(4);
    width: fit-content;

    @include breakpoint(med) {
      margin-bottom: space(4);
    }

    @include breakpoint(lg) {
      margin-bottom: space(6);
    }
  }

  &__tagline {
    align-self: center;
    color: $medium-grey;
    margin: 0;
    font-size: clamp(1.25rem, 2.2vw, 2rem);
    font-weight: 450;
    line-height: 140%;
    max-width: 34rem;

    @include breakpoint(med) {
      margin-bottom: 0;
      margin-left: space(1);
    }
  }

  &__tags-wrapper {
    display: none;
    gap: space(2);
    overflow-x: auto;
    white-space: nowrap;
    cursor: pointer;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include breakpoint(med) {
      flex-wrap: wrap;
    }
  }

  &__tag {
    display: flex;
    height: 1.5rem;
    padding: 0 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
    font-size: $text-xs;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;

    &--postup {
      background: $postup-tag-background;
      color: $postup-tag-color;
    }

    &--tastebuds {
      background: $tastebuds-tag-background;
      color: $tastebuds-tag-color;
    }

    &--boardspace {
      background: $boardspace-tag-background;
      color: $boardspace-tag-color;
    }

    @include breakpoint(med) {
      height: 1.75rem;
      font-size: $text-sm;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: space(4) space(2);

    @include breakpoint(lg) {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto;
      grid-template-areas: "a b c";
      gap: $details-wrapper-gap-xl;
      margin-top: space(6);
    }
  }

  &__details-list {
    ul {
      padding: 0;
      margin: 0;
      margin-top: space(1);
      list-style: none;
      gap: 0;

      li {
        color: $dark-grey;
        line-height: 155%;
        font-size: $text-base;
        margin-bottom: 0;
        font-weight: 350;
        text-wrap: wrap;
        padding-left: 0;
        text-transform: capitalize;

        @include breakpoint(med) {
          text-wrap: nowrap;
        }
      }
    }

    &.involvement-list {
      grid-area: a;
    }

    &.discipline-list {
      grid-area: b;
    }

    @include breakpoint(med) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      ul,
      li {
        width: 100%;
      }
    }

    @include breakpoint(lg) {
      ul > li {
        line-height: 160%;
        font-size: $text-md;
      }
    }
  }

  &__details-container {
    display: flex;
    flex-direction: row;
    gap: space(4);

    &-postup {
      gap: space(12);
    }

    @include breakpoint(med) {
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;
    }

    @include breakpoint(lg) {
      ul li {
        font-weight: 350;
        font-size: $text-md;
      }
    }
  }

  &__details-headline {
    color: $black;
    font-weight: 450;
    line-height: 125%;
    margin-bottom: space(1);
    width: 100%;

    @include breakpoint(med) {
      font-size: $text-md;
      letter-spacing: 0.02rem;
    }
  }

  &__details-headline-tools {
    margin-bottom: space(2) !important;

    @include breakpoint(med) {
      margin-bottom: space(1);
    }
  }

  &__tools-flex-container {
    display: flex;
    flex-direction: row;
    gap: space(2);
  }

  &__tools-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: space(2);
    width: fit-content;

    @include breakpoint(lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @include breakpoint(xxl) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: space(3);
    }
  }

  &__boardspace-tools {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: space(2);
    width: fit-content;
  }

  &__tools-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: $fixed-shadow;

    img {
      width: 1.75rem;
      height: auto;
    }

    &--canva img {
      width: 2.5rem;
      height: 2.5rem;
    }

    &--miro {
      background: #ffd12b;
    }

    &--general,
    &--figma,
    &--white-bg {
      padding: space(2);
      background: #2e3139;
    }

    &--white-bg {
      background: #fff;
    }

    @include breakpoint(med) {
      width: 3rem;
      height: 3rem;
      border-radius: 0.55rem;

      img {
        width: 2rem;
        height: auto;
      }

      &--canva img {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &__details-timeline-tools {
    display: flex;
    flex-direction: column;
    gap: space(4);
  }

  &__details-container-01 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $details-wrapper-gap;

    > .involvement-list,
    > .discipline-list {
      grid-area: unset;
    }

    @include breakpoint(xl) {
      gap: $details-wrapper-gap-xl;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }

  @include breakpoint(med) {
    flex: 1;
    gap: space(8);
    justify-content: space-between;
    // height: calc(40vh - $navbar-desktop-height);
    height: fit-content;
    // max-height: 24rem;
    padding-top: space(12);
    padding-bottom: space(12);
  }

  @include breakpoint(lg) {
    padding-top: space(12);
    gap: space(12);
  }

  @include breakpoint(xxl) {
    // height: calc(35vh);
    max-height: none;
  }
}
