@use "../abstracts/all-abstracts" as *;

#the-solution {
	background: $lightest-grey;
}

.the-solution-prototype_wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1600px;
	width: 90%;
	margin: 0 auto;
	border-radius: 1rem;
	background-color: white;
	height: fit-content;
	justify-content: center;
}

.the-solution-prototype {
	&_grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		margin: 0 auto;
		gap: 2.5rem;
		align-items: center;
		width: 100%;
		max-width: 90vw;
		grid-template-areas: 'b' 'c' 'a';

		&.intro-prototype {
			grid-template-rows: repeat(2, auto);
			grid-template-areas: 'b ' a;
		}

		@include breakpoint(med) {
			align-items: start;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto auto;
			margin: auto;
			align-items: center;
			width: fit-content;
			column-gap: 4rem;
			background-color: white;
			padding: 3rem 4rem;
			grid-template-areas: 'b c'
				'a a';


			&.intro-prototype {
				grid-template-columns: 1fr auto;
				grid-template-rows: auto;
				grid-template-areas: 'a  b';

			}

			&.grid-container-reverse {
				grid-template-columns: 1fr auto;
			}
		}


		@include breakpoint(med) {
			align-items: start;
			grid-template-columns: auto 1fr auto;
			grid-template-rows: auto;
			grid-template-areas: 'b a c';
			margin: auto;
			align-items: center;
			width: fit-content;
			column-gap: 4rem;
			background-color: white;
			padding: 3rem 4rem;

			&.the-final-prototype {
				padding: 3rem 6rem;
				column-gap: 6rem;
			}
		}
	}

	&_video {
		width: 80%;
		margin: 0 auto;
		max-width: 18rem;

		@include breakpoint(med) {
			width: 100%;
		}
	}

	&_video-previous {
		grid-area: b;
	}

	&_video-iteration {
		grid-area: c;
	}

	&_content {
		grid-area: a;
		width: 100%;
		min-width: 26rem;

		h3 {
			color: $black;
		}

		:last-child {
			margin-bottom: 0;
		}

		@include breakpoint(lg) {
			max-width: 35rem;
		}
	}

	&_headline {
		@include breakpoint(med) {
			font-size: 2rem;
			text-align: center;
		}

		@include breakpoint(lg) {
			font-size: 2.5rem;
		}
	}

	.card_headline {
		color: $emphasis-blue;
		font-weight: 500;
		margin-bottom: 0;
		font-size: 1.25rem;
	}

	&_subheading {
		font-size: 1.35rem;
		margin-bottom: 1.25rem;
		color: $off-black !important;
		line-height: 125%;
	}

	&_card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
		margin: auto;
		margin-top: 2rem;
		padding: 1.5rem 2.5rem;
		padding-right: 1rem;
		border-radius: 0.25rem;
		border-left: 0.5rem solid $emphasis-blue;
		background-color: $lightest-grey;
		width: fit-content;
		height: fit-content;

		@include breakpoint(med) {
			margin-top: 0;
		}

		@include breakpoint(lg) {
			max-width: 32rem;
		}

		li {
			font-size: 1.125rem;

			@include breakpoint(lg) {
				font-size: 1.25rem;
			}
		}

		.card_list {
			align-self: start;
		}
	}
}

@include breakpoint(med) {
	.the-solution-prototype_wrapper {
		max-width: 68rem;
	}

	.the-solution-prototype_subheading {
		font-size: 1.2rem;
		color: $off-black !important;
		font-weight: 500 !important;
	}

	.the-solution-prototype_body {
		color: $medium-grey !important;
		font-size: 1.25rem;
	}
}