@use "@abstracts/all-abstracts" as *;

.intro-headline {
  font-size: $text-2xl;
  margin-bottom: space(4);
  text-transform: capitalize;

  @include breakpoint(med) {
    font-size: $text-2xl;
  }

  @include breakpoint(lg) {
    font-size: $text-3xl;
  }
}

.hmw-statements_wrapper {
  display: flex;
  flex-direction: column;
  gap: space(4);

  .card-vertical {
    background-color: $lightest-green;
  }

  p {
    font-size: $text-lg;
    font-weight: 550 !important;
    margin-top: 0;
  }

  @include breakpoint(med) {
    flex-direction: row;
  }
}
