@use "@abstracts/all-abstracts" as *;

.content-max-width {
  width: 90vw;
  max-width: $content-max-width;
  margin: auto;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: calc(4.12rem - 5px) 0;
  width: 100%;
  @extend %container-border-bottom;

  &.equal-padding {
    padding: space(10) 0;
  }

  > img,
  figure {
    margin: space(4) auto;
  }

  > .content,
  .content-wrapper,
  .subsection {
    max-width: $content-max-width;
    width: 90vw;
    margin: auto;
    align-items: left;

    > figure > img {
      margin: 0;
    }

    &.medium-small {
      max-width: 50rem;
    }

    &.medium {
      max-width: 1000px;
    }

    &.large {
      max-width: $content-max-width-lg;
    }

    &.xl {
      max-width: 1400px;
    }

    &.xxl {
      max-width: 1600px;
      width: 90%;
    }
  }

  > .content,
  .content-wrapper,
  .subsection,
  .content-full-width {
    margin-top: space(6);

    @include breakpoint(med) {
      margin-top: space(12);
    }

    @include breakpoint(lg) {
      margin-top: space(24);
    }
  }

  @include breakpoint(med) {
    padding: space(16) 0 calc(6.12rem - 5px) 0;

    &.equal-padding {
      padding: space(16) 0;
    }

    > img,
    figure {
      margin: space(8) auto;
    }
  }

  @include breakpoint(lg) {
    padding: space(16) 0 calc(6.12rem - 5px) 0;

    &.equal-padding {
      padding: space(24) 0;
    }
  }
}

.content-wrapper,
.subsection .content {
  max-width: $content-max-width;
  width: 90vw;
  margin: auto;
  align-items: left;
  margin-top: space(4);
  overflow-x: visible !important;

  > figure > img {
    margin: 0;
  }

  &.medium-small {
    max-width: 50rem;
  }

  &.medium {
    max-width: 1000px;
  }

  &.large {
    max-width: $content-max-width-lg;
  }

  &.xl {
    max-width: 1400px;
  }

  &.xxl {
    max-width: 1600px;
    width: 90%;
  }
}

@include breakpoint(med) {
  .subsection {
    margin-top: space(24);
  }
}

.container-full-width {
  display: flex;
  flex-direction: column;
  gap: space(6);
  background-color: $lightest-grey;
  width: 100%;
  padding: space(8) 0;

  @include breakpoint(med) {
    padding: space(16) 0;
    margin: space(16) 0;
  }

  @include breakpoint(lg) {
    padding: space(24) 0;
  }
}

// Header
.header-container {
  width: 90vw;
  max-width: $content-max-width;
  margin: 0 auto;

  > h2 {
    margin-bottom: space(5);
    color: $black;
  }

  span {
    @extend %subheader;
  }
}

.img-project-schedule {
  max-width: 28rem;
  width: 100%;
  margin: 0;
  margin-bottom: space(8);
}

.content,
.content-wrapper,
.subsection,
.section-container,
.container-full-width {
  > :first-child {
    margin-top: 0;
  }

  > :last-child,
  > :only-child {
    margin-bottom: 0;
  }
}

.section-container
  > :is(.subsection, .content-wrapper, .content):first-of-type {
  margin-top: 0;
}
