#the-solution {
	background: $lightest-grey;
	padding: 2.5rem 0;
}

.the-solution-prototype_wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1600px;
	width: 90%;
	margin: 0 auto;
	padding: 0 1rem;
	border-radius: 1rem;
	background-color: $white;
	height: fit-content;
	justify-content: center;
}

.the-solution-prototype_grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	margin: 0 auto;
	gap: 2.5rem;
	align-items: center;
	width: 100%;
	max-width: 90vw;
}

.the-solution-prototype_video {
	width: 80%;
	margin: 0 auto;
	max-width: 18rem;
}

.the-solution-prototype_content {
	display: block;
	width: 100%;

	h3 {
		color: $black;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.the-solution-prototype_subheading {
	font-size: 1.35rem;
	margin-bottom: 1.25rem;
	color: $off-black !important;
	line-height: 125%;
}

.the-solution-prototype_body {
	color: $medium-grey !important;
	margin-bottom: 0;
}

@include breakpoint(med) {
	#the-solution {
		padding: 4rem 0;
	}

	.the-solution-prototype_wrapper {
		max-width: 68rem;
		padding: 3rem 3rem;
	}

	.the-solution-prototype_grid-container {
		align-items: start;
		grid-template-columns: 1fr auto;
		grid-template-rows: auto;
		margin: auto;
		align-items: center;
		width: fit-content;
		column-gap: 4rem;
		background-color: white;
		padding: 3rem;

		&.grid-container-reverse {
			grid-template-columns: 1fr auto;
		}
	}

	.the-solution-prototype_content {
		max-width: 35rem;
	}


	.the-solution-prototype_video {
		width: 100%;
	}

	.the-solution-prototype_subheading {
		font-size: 1.2rem;
		color: $off-black !important;
		font-weight: 500 !important;
	}

	.the-solution-prototype_body {
		color: $medium-grey !important;
		font-size: 1.25rem;
	}
}

@include breakpoint(lg) {
	.the-solution-prototype_grid-container {
		padding: 4rem;
	}
}