@use "@abstracts/all-abstracts" as *;

.hmw-statements_wrapper {
  display: flex;
  flex-direction: column;
  gap: space(4);

  .card-vertical {
    background-color: $lightest-green;
  }

  p {
    font-size: $text-lg;
    font-weight: 550 !important;
    margin-top: 0;
  }

  @include breakpoint(med) {
    flex-direction: row;
  }
}
