@use "../abstracts/all-abstracts" as *;

.overview {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	padding: 1.75rem 0 0.5rem;
	height: fit-content;

	&__content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: auto;
		width: 90vw;
		gap: 1.5rem;
		height: 100%;
	}


	&_content-wrapper-boardspace {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: auto;
		width: 90vw;
		gap: 1.5rem;
		max-width: 90vw;
		height: 100%;
	}

	&__title {
		color: $black;
		font-size: 2.66rem !important;
		font-weight: 600;
		line-height: 100%;
		letter-spacing: -0.144px;
		margin-bottom: 0.75rem;
		width: fit-content;
	}

	&__tagline {
		align-self: center;
		color: $medium-grey;
		margin: 0 0 1rem;
		font-size: 1.3rem;
		font-weight: 450;
		line-height: 140%;
		max-width: 34rem;

		&.postup-tagline {
			max-width: 34rem;
		}
	}

	&__tags-wrapper {
		display: none;
		gap: 0.5rem;
		overflow-x: auto;
		white-space: nowrap;
		cursor: pointer;

		/* Hide scrollbar for Firefox */
		scrollbar-width: none;
		/* Firefox */

		/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__tag {
		display: flex;
		height: 1.5rem;
		padding: 0 0.5rem;
		justify-content: center;
		align-items: center;
		border-radius: 0.3125rem;

		font-size: 0.75rem;
		font-weight: 400;
		line-height: 150%;
		text-transform: capitalize;

		&--postup {
			background: $postup-tag-background;
			color: $postup-tag-color;
		}

		&--tastebuds {
			background: $tastebuds-tag-background;
			color: $tastebuds-tag-color;
		}

		&--boardspace {
			background: $boardspace-tag-background;
			color: $boardspace-tag-color;
		}
	}

	&__details-list {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			gap: 0;

			li {
				color: $dark-grey;
				line-height: 155%;
				font-size: 1rem;
				margin-bottom: 0;
				font-weight: 350;
			}
		}
	}

	&__details-container {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		&-postup {
			gap: 3rem;
		}
	}

	&__details-headline {
		color: $black;
		font-weight: 450;
		line-height: 125%;
		margin-bottom: 0.25rem;
		width: 100%;
	}

	&__details-headline-tools {
		margin-bottom: 0.25rem !important;
	}

	// PostUp's tools
	&__tools-flex-container {
		display: flex;
		flex-direction: row;
		gap: 0.75rem;
	}

	// TasteBuds's tools
	&__tools-grid-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0.5rem;
		width: fit-content
	}

	&__boardspace-tools {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.5rem;
		width: fit-content;
	}

	&__tools-logo-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.5rem;
		height: 2.5rem;
		overflow: hidden;
		border-radius: 0.5rem;
		box-shadow: $fixed-shadow;

		&--general,
		&--figma,
		&--miro,
		&--white-bg {
			padding: 0.5rem;
			background: #2e3139;
		}

		&--miro {
			background: #ffd12b;
		}

		&--white-bg {
			background: #fff;
		}

		img {
			width: 1.75rem;
			height: auto;
			margin: 0;
		}

		&--canva img {
			width: 2.5rem;
			height: 2.5rem;
		}
	}

	&__details-timeline-tools {
		display: flex;
		gap: 1rem;
	}

	&__button-wrapper {
		display: flex;
		justify-content: center;
	}
}

@include breakpoint(med) {
	.overview {

		gap: 1.5rem;
		padding-top: 3rem;
		max-height: 23rem;
		justify-content: space-between;
		flex: 1;

		&__content-wrapper {
			flex-direction: row;
			gap: 2rem;
			margin: 0 auto;
			align-items: stretch;
		}

		&_content-wrapper-boardspace {
			flex-direction: row;
			gap: 2rem;
			margin: 0 auto;
			align-items: start;
		}

		&__header {
			// width: 75%;
			flex-grow: 1;
		}

		&__title {
			flex: auto;
			font-size: 5.4rem !important;
			margin-bottom: 1rem;
		}

		&__tagline {
			margin-bottom: 0;
			font-size: 1.3125rem;
			max-width: 34rem;
		}

		&__tags-wrapper {
			flex-wrap: wrap;
		}

		&__tag {
			height: 1.75rem;
			font-size: 0.875rem;
		}

		&__details-container {
			flex-direction: column;
			align-items: flex-start;
			width: fit-content;
			gap: 1rem;
		}

		&__details-timeline-tools {
			flex-direction: column;
			align-items: stretch;
		}

		&__details-headline {
			font-size: 1.15rem;
			letter-spacing: 0.02rem;
		}

		&__details-list {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			align-items: flex-start;

			ul li {
				font-size: 1.125rem;
				text-wrap: nowrap;
			}
		}

		&__tools-logo-wrapper {
			width: 3rem;
			height: 3rem;
			border-radius: 0.55rem;

			img {
				width: 2rem;
				height: auto;
				margin: 0;
			}

			&--canva img {
				width: 3rem;
				height: 3rem;
			}
		}
	}
}

$content-gap-lg: 5.5rem;

@include breakpoint(lg) {
	.overview {
		gap: 3rem;
		padding-top: 3rem;
		height: 40vh;

		&__content-wrapper {
			height: fit-content;
			flex-direction: row;
			margin: 0 auto;
			gap: $content-gap-lg;
		}

		&__details-container {
			ul li {
				font-weight: 350;
				font-size: 1.125rem;
			}
		}

		&__tools-grid-container {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: auto;
		}

		&__tools-flex-container {
			flex-direction: column;
		}

		&__title {
			flex: auto;
			font-size: 7.2rem !important;
			margin-bottom: 1.5rem;
		}

		&__tagline {
			font-size: 2rem;
		}

		&__details-timeline-tools {
			flex-direction: row;
			gap: $content-gap-lg;
		}

		&__details-list {
			margin-top: 1.375rem;
		}
	}
}

.scroll-button {
	cursor: pointer;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	background-color: transparent;
	transition: opacity 0.3s ease;

	p {
		margin-bottom: 0;
	}

	svg {
		fill: $link-blue;
	}

	&:hover {
		opacity: 0.5;
	}
}

a.link-blue:hover {
	opacity: 0.75;
}

.scroll-button-chevron-down {
	cursor: pointer;
	font-size: 1.125rem;
	background-color: transparent;
	border: 0;
	margin: 0 auto;
	padding: 0;
	transition: opacity 0.3s ease, transform 0.2s ease;
	height: fit-content;

	&:hover {
		transform: scale(1.1);
		opacity: 0.5;
	}
}

.scroll-to-challenge-svg {
	stroke: $black !important;
	width: 4rem;
	height: 4rem;
	fill: none !important;
}