@use "@abstracts/all-abstracts" as *;

// FAQs
#faqs {
  display: none;

  h2 {
    margin-bottom: space(6);
  }
}

.faqs-wrapper {
  max-width: 42rem;
  margin: space(10) auto;
}

@include breakpoint(med) {
  .faqs-wrapper {
    max-width: $content-max-width;
    margin: space(20) auto;
  }
}
