.diner-stories-grid-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    gap: 0.5rem;
    width: 95vw;
    max-width: 64rem;

    @include breakpoint(med) {
        grid-template-columns: repeat(4, 1fr);
        margin: auto;
        margin-bottom: 3rem;
    }
}

.card-vertical.diner-stories-card {
    padding: 1.5rem;
}