<!-- Two menu items -->
<div class="tabs-container content" data-current="Tab 1" data-duration-in="300"
    data-duration-out="100" data-easing="ease">
    <div class="tabs-menu two-menu-items">
        <button class="tab-button active" data-tab="tab1">
            <p>Label1</p>
        </button>
        <button class="tab-button" data-tab="tab2">
            <p>Label2</p>
        </button>
    </div>
    <div class="tab-content ph-0 pb-0 active" id="tab1">
    </div>
    <div class="tab-content ph-0 pb-0" id="tab2">
    </div>
</div>