@use "@abstracts/all-abstracts" as *;

// Margin and Padding utilities

// Margin
.margin-0 {
  margin: 0 !important;
}

.margin-auto {
  margin: auto !important;
}

.mr-auto {
  margin-right: auto;
}

.mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mh-auto {
  margin-left: auto;
}

// Margin vertical (Top  & Bottom) mixin
@mixin mv($size) {
  margin-top: $size !important;
  margin-bottom: $size !important;
}

// Margin vertical (Top  & Bottom)
.mv {
  &-0 {
    @include mv(0);
  }

  &-8 {
    @include mv(space(2));
  }

  &-16 {
    @include mv(space(4));
  }

  &-24 {
    @include mv(space(6));
  }

  &-32 {
    @include mv(space(8));
  }

  &-40 {
    @include mv(space(10));
  }

  &-48 {
    @include mv(space(12));
  }

  &-56 {
    @include mv(space(14));
  }

  &-64 {
    @include mv(space(16));
  }

  &-80 {
    @include mv(space(20));
  }
}

// Margin top
.mt {
  &-0 {
    margin-top: 0 !important;
  }

  &-4 {
    margin-top: space(1) !important;
  }

  &-8 {
    margin-top: space(2) !important;
  }

  &-16 {
    margin-top: space(4) !important;
  }

  &-24 {
    margin-top: space(6) !important;
  }

  &-32 {
    margin-top: space(8) !important;
  }

  &-40 {
    margin-top: space(10) !important;
  }

  &-48 {
    margin-top: space(12) !important;
  }

  &-56 {
    margin-top: space(14) !important;
  }

  &-64 {
    margin-top: space(16) !important;
  }

  &-72 {
    margin-top: space(18) !important;
  }

  &-80 {
    margin-top: space(20) !important;
  }
}

// Margin bottom
.mb {
  &-0 {
    margin-bottom: 0 !important;
  }

  &-8 {
    margin-bottom: space(2) !important;
  }

  &-12 {
    margin-bottom: space(3) !important;
  }

  &-16 {
    margin-bottom: space(4) !important;
  }

  &-20 {
    margin-bottom: space(5) !important;
  }

  &-24 {
    margin-bottom: space(6) !important;
  }

  &-32 {
    margin-bottom: space(8) !important;
  }

  &-36 {
    // stylelint-disable-next-line scale-unlimited/declaration-strict-value
    margin-bottom: 2.25rem !important;
  }

  &-40 {
    margin-bottom: space(10) !important;
  }

  &-48 {
    margin-bottom: space(12) !important;
  }

  &-56 {
    margin-bottom: space(14) !important;
  }

  &-64 {
    margin-bottom: space(16) !important;
  }

  &-80 {
    margin-bottom: space(20) !important;
  }
}

// Margin left
.ml {
  &-auto {
    margin-left: auto !important;
  }

  &-0 {
    margin-left: 0 !important;
  }

  &-2 {
    // stylelint-disable-next-line scale-unlimited/declaration-strict-value
    margin-left: 0.125rem !important;
  }

  &-4 {
    margin-left: space(1) !important;
  }

  &-8 {
    margin-left: space(2) !important;
  }

  &-16 {
    margin-left: space(4) !important;
  }

  &-24 {
    margin-left: space(6) !important;
  }

  &-32 {
    margin-left: space(8) !important;
  }

  &-40 {
    margin-left: space(10) !important;
  }

  &-48 {
    margin-left: space(12) !important;
  }

  &-56 {
    margin-left: space(14) !important;
  }

  &-64 {
    margin-left: space(16);
  }

  &-72 {
    margin-left: space(18);
  }

  &-80 {
    margin-left: space(20);
  }
}

// Padding
.pd {
  &-0 {
    padding: 0 !important;
  }

  &-8 {
    padding: space(2) !important;
  }

  &-16 {
    padding: space(4) !important;
  }

  &-24 {
    padding: space(6) !important;
  }

  &-32 {
    padding: space(8) !important;
  }

  &-40 {
    padding: space(10) !important;
  }

  &-48 {
    padding: space(12) !important;
  }

  &-56 {
    padding: space(14) !important;
  }

  &-64 {
    padding: space(16) !important;
  }

  &-72 {
    padding: space(18) !important;
  }

  &-80 {
    padding: space(20) !important;
  }

  &-88 {
    padding: space(22) !important;
  }

  &-96 {
    padding: space(24) !important;
  }
}

// Padding top
.pt {
  &-0 {
    padding-top: 0 !important;
  }

  &-8 {
    padding-top: space(2) !important;
  }

  &-16 {
    padding-top: space(4) !important;
  }

  &-24 {
    padding-top: space(6) !important;
  }

  &-32 {
    padding-top: space(8) !important;
  }

  &-40 {
    padding-top: space(10) !important;
  }

  &-48 {
    padding-top: space(12) !important;
  }
}

// Padding bottom
.pb {
  &-0 {
    padding-bottom: 0 !important;
  }

  &-16 {
    padding-bottom: space(4) !important;
  }

  &-32 {
    padding-bottom: space(8) !important;
  }

  &-40 {
    padding-bottom: space(10) !important;
  }

  &-48 {
    padding-bottom: space(12) !important;
  }

  &-56 {
    padding-bottom: space(14) !important;
  }

  &-64 {
    padding-bottom: space(16) !important;
  }

  &-72 {
    padding-bottom: space(18) !important;
  }

  &-80 {
    padding-bottom: space(20) !important;
  }
}

.pv {
  &-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &-16 {
    padding-top: space(4) !important;
    padding-bottom: space(4) !important;
  }

  &-32 {
    padding-top: space(8) !important;
    padding-bottom: space(8) !important;
  }

  &-40 {
    padding-top: space(10) !important;
    padding-bottom: space(10) !important;
  }

  &-48 {
    padding-top: space(12) !important;
    padding-bottom: space(12) !important;
  }

  &-56 {
    padding-top: space(14) !important;
    padding-bottom: space(14) !important;
  }

  &-64 {
    padding-top: space(16) !important;
    padding-bottom: space(16) !important;
  }

  &-72 {
    padding-top: space(18) !important;
    padding-bottom: space(18) !important;
  }

  &-80 {
    padding-top: space(20) !important;
    padding-bottom: space(20) !important;
  }
}

// Gap
.gap {
  &-8 {
    gap: space(2) !important;
  }

  &-16 {
    gap: space(4) !important;
  }

  &-20 {
    gap: space(5) !important;
  }

  &-24 {
    gap: space(6) !important;
  }

  &-32 {
    gap: space(8) !important;
  }

  &-40 {
    gap: space(10) !important;
  }

  &-48 {
    gap: space(12) !important;
  }

  &-56 {
    gap: space(14) !important;
  }

  &-64 {
    gap: space(16) !important;
  }

  &-80 {
    gap: space(20) !important;
  }
}

.col-gap {
  &-8 {
    column-gap: space(2) !important;
  }

  &-16 {
    column-gap: space(4) !important;
  }

  &-24 {
    column-gap: space(6) !important;
  }

  &-32 {
    column-gap: space(8) !important;
  }

  &-40 {
    column-gap: space(10) !important;
  }

  &-48 {
    column-gap: space(12) !important;
  }

  &-56 {
    column-gap: space(14) !important;
  }

  &-64 {
    column-gap: space(16) !important;
  }

  &-80 {
    column-gap: space(20) !important;
  }
}

.row-gap {
  &-8 {
    row-gap: space(2) !important;
  }

  &-16 {
    row-gap: space(4) !important;
  }

  &-24 {
    row-gap: space(6) !important;
  }

  &-32 {
    row-gap: space(8) !important;
  }

  &-40 {
    row-gap: space(10) !important;
  }

  &-48 {
    row-gap: space(12) !important;
  }

  &-56 {
    row-gap: space(14) !important;
  }

  &-64 {
    row-gap: space(16) !important;
  }

  &-80 {
    row-gap: space(20) !important;
  }
}
