@use "@abstracts/all-abstracts" as *;
$list-bullet-text-spacing: 0.25rem;

ul,
ol {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 0;
  gap: space(2);
  list-style-position: outside;
  margin-left: -calc($list-bullet-text-spacing);

  li {
    padding-left: $list-bullet-text-spacing;

    span {
      font-weight: 500;
    }

    @include breakpoint(med) {
      font-size: $text-md;
    }
  }

  &.gap--medium {
    gap: space(4);
  }

  &.list-style-inside {
    list-style-position: inside;
  }

  &.list-transform-none {
    margin-left: 0;

    li {
      padding-left: 0;
    }
  }
}

.list-transform-none {
  &.gap-8 {
    li {
      margin-bottom: space(2);
    }
  }
}

ul.list-style-type,
ol.list-style-type {
  li {
    list-style-type: none;
  }
}

.list-none {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ul.list-none {
  list-style-type: none;

  &.gap-8 {
    li {
      margin-bottom: space(2);
    }
  }
}

ul.list-item-black {
  li {
    color: $black;
  }
}

ul.li-pl-0 {
  li {
    padding-left: 0;
  }
}
