@use "@abstracts/variables" as *;
@use "@abstracts/tokens" as *;
@use "@abstracts/breakpoints-mixins" as *;

/* Heading and paragraph base styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  &::first-letter {
    text-transform: capitalize;
  }

  &.first-letter-lowercase {
    &::first-letter {
      text-transform: lowercase;
    }
  }
}

p,
li {
  font-size: $text-base;
  color: $off-black;
  line-height: 150%;
  font-weight: 400;
  margin-top: 0;

  @include breakpoint(mobile-lg) {
    font-size: $text-md;
  }
}

p {
  margin-bottom: space(6);

  @include breakpoint(mobile-lg) {
    margin-bottom: space(4);
  }
}

// Major Third typescale 1.250
h1 {
  font-size: $text-3xl;
  font-weight: 550;
  color: $black;
  line-height: 120%;
  letter-spacing: -0.04rem;
  margin-bottom: space(6);
}

h2 {
  font-size: $text-2xl;
  font-weight: 550;
  color: $black;
  line-height: 125%;
  margin-bottom: space(4);
  letter-spacing: -0.0525rem;
}

h3 {
  font-size: $text-xl;
  font-weight: 500;
  color: $teal-accent;
  letter-spacing: 0;
  line-height: 130%;
  margin-bottom: space(5);
}

h4 {
  font-size: $text-lg;
  font-weight: 500;
  color: $black;
  letter-spacing: 0;
  line-height: 130%;
  margin-bottom: space(5);
}

h5 {
  font-size: $text-md;
  font-weight: 500;
  color: $secondary-green;
  letter-spacing: 0;
  line-height: 140%;
  margin-bottom: space(2);
}

// Typescale 1.250 Major Third

@include breakpoint(med) {
  h1 {
    font-size: $text-4xl;
    letter-spacing: -0.04rem;
    margin-bottom: space(10);
  }

  h2 {
    font-size: $text-4xl;
    letter-spacing: -0.02rem;
    margin-bottom: space(8);
  }

  h3 {
    font-size: $text-3xl;
    font-weight: 550;
  }

  h4 {
    font-size: $text-xl;
    margin-bottom: space(5);
  }

  //
  // 	h5 {
  // 		font-size: 1.350rem;
  // 	}
}