//Media breakpoints
$breakpoints: (
	mobile-sm: 320px,
	mobile-med: 375px,
	mobile-lg: 425px,
	sm: 576px,
	med: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

@mixin breakpoint($name) {
	@if map-has-key($breakpoints, $name) {
		@media (min-width: map-get($breakpoints, $name)) {
			@content;
		}
	} @else {
		@error "Unknown breakpoint: #{$name}. Please use one of: #{map-keys($breakpoints)}.";
	}
}