@use "variables" as *;
@use "tokens" as *;
@use "breakpoints-mixins" as *;

// Components
%container-border-bottom {
	border-bottom: 1px solid $light-grey;
}

// Flex
%flex-row {
	display: flex !important;
	flex-direction: row !important;
}

%flex-col {
	display: flex !important;
	flex-direction: column !important;
}

%flex-wrap {
	display: flex !important;
	flex-wrap: wrap !important;
}

%align-self-flex-start {
	display: flex !important;
	align-self: flex-start !important;
}

%flex-nowrap {
	display: flex !important;
	flex-wrap: nowrap !important;
}

%flex-row-reverse {
	display: flex !important;
	flex-direction: row-reverse !important;
}

%flex-col-reverse {
	display: flex !important;
	flex-direction: column-reverse !important;
}

%flex-wrap-reverse {
	display: flex !important;
	flex-wrap: wrap-reverse !important;
}

@include breakpoint(sm) {
	%flex {
		&-row-sm {
			display: flex;
			flex-direction: row !important;
		}

		&-row-reverse-sm {
			display: flex;
			flex-direction: row-reverse;
		}

		&-col-sm {
			display: flex;
			flex-direction: column;
		}

		&-col-reverse-sm {
			display: flex;
			flex-direction: column-reverse;
		}

		&-wrap-sm {
			display: flex;
			flex-wrap: wrap;
		}

		&-wrap-reverse-sm {
			display: flex;
			flex-wrap: wrap-reverse;
		}

		&-nowwrap {
			display: flex;
			flex-wrap: nowrap;
		}
	}
}

@include breakpoint(med) {
	%flex {
		&-row-med {
			display: flex;
			flex-direction: row !important;
		}

		&-row-reverse-med {
			display: flex;
			flex-direction: row-reverse;
		}

		&-col-med {
			display: flex;
			flex-direction: column;
		}

		&-col-reverse-med {
			display: flex;
			flex-direction: column-reverse;
		}

		&-wrap-med {
			display: flex;
			flex-wrap: wrap;
		}

		&-wrap-reverse-med {
			display: flex;
			flex-wrap: wrap-reverse;
		}

		&-nowwrap-med {
			display: flex;
			flex-wrap: nowrap;
		}
	}
}

// Margin bottom
%mb {
	&-0 {
		margin-bottom: 0 !important;
	}

	&-8 {
		margin-bottom: space(2) !important;
	}

	&-16 {
		margin-bottom: space(4) !important;
	}

	&-24 {
		margin-bottom: space(6) !important;
	}

	&-32 {
		margin-bottom: space(8) !important;
	}

	&-40 {
		margin-bottom: space(10) !important;
	}

	&-64 {
		margin-bottom: space(16) !important;
	}

	&-80 {
		margin-bottom: space(20) !important;
	}
}

// Margin
%mg {
	&-0 {
		margin: 0 !important;
	}

	&-auto {
		margin: auto !important;
	}
}

// Margin vertical
%mv {
	&-8 {
		margin: space(2) 0 !important;
	}

	&-16 {
		margin: space(4) 0 !important;
	}

	&-24 {
		margin: space(6) 0 !important;
	}

	&-32 {
		margin: space(8) 0 !important;
	}

	&-40 {
		margin: space(10) 0 !important;
	}

	&-48 {
		margin: space(12) 0 !important;
	}

	&-56 {
		margin: space(14) 0 !important;
	}

	&-64 {
		margin: space(16) 0 !important;
	}
}

// Margin-top
%mt {
	&-0 {
		margin-top: 0 !important;
	}

	&-8 {
		margin-top: space(2) !important;
	}

	&-16 {
		margin-top: space(4) !important;
	}

	&-24 {
		margin-top: space(6) !important;
	}

	&-32 {
		margin-top: space(8) !important;
	}

	&-40 {
		margin-top: space(10) !important;
	}
}

// Padding
%pd {
	&-40 {
		padding: space(10) !important;
	}
}

// Padding top
%pt {
	&-32 {
		padding-top: space(8) !important;
	}
}

// Padding bottom
%pb {
	&-0 {
		padding-bottom: 0 !important;
	}

	&-16 {
		padding-bottom: space(4) !important;
	}

	&-32 {
		padding-bottom: space(8) !important;
	}

	&-48 {
		padding-bottom: space(12) !important;
	}
}

// Padding vertical
%pv {
	&-16 {
		padding-top: space(4) !important;
		padding-bottom: space(4) !important;
	}

	&-32 {
		padding-top: space(8) !important;
		padding-bottom: space(8) !important;
	}
}

// Gap
%gap {
	&-8 {
		gap: space(2) !important;
	}

	&-16 {
		gap: space(4) !important;
	}

	&-24 {
		gap: space(6) !important;
	}

	&-32 {
		gap: space(8) !important;
	}

	&-40 {
		gap: space(10) !important;
	}

	&-64 {
		gap: space(16) !important;
	}

	&-80 {
		gap: space(20) !important;
	}
}

%quote-text {
	font-family: "Noto Serif", sans-serif !important;
	letter-spacing: 0.2px !important;
	line-height: 170% !important;
	margin-top: 0 !important;
	color: $medium-grey !important;

	@include breakpoint(lg) {
		font-size: $text-md !important;
	}
}

%subheading {
	font-weight: 500;
	letter-spacing: 0;
	line-height: 130%;
	color: $black;
	font-size: $text-lg;
	text-transform: none;
	margin-bottom: space(2);

	&::first-letter {
		text-transform: capitalize;
	}
}

%subheader {
	font-family: "Source Code Pro", monospace;
	color: $forest-green;
	font-size: $text-base;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 125%;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	height: fit-content;
}

// Breakpoints placeholders

// Define placeholders for mobile-only display settings
%mobile-only-inherit {
	display: inherit;
}

%mobile-only-flex {
	display: flex;
}

%mobile-only-block {
	display: block;
}

%mobile-only-inline {
	display: inline;
}

%mobile-only-inline-block {
	display: inline-block;
}

%mobile-only-grid {
	display: grid;
}

// Placeholder for hiding elements globally
%hide {
	display: none !important;
}

// Define placeholders for hiding elements at specific breakpoints
%hide-mobile-sm {
	@include breakpoint(mobile-sm) {
		display: none !important;
	}
}

%hide-mobile-med {
	@include breakpoint(mobile-med) {
		display: none !important;
	}
}

%hide-mobile-lg {
	@include breakpoint(mobile-lg) {
		display: none !important;
	}
}

%hide-sm {
	@include breakpoint(sm) {
		display: none !important;
	}
}

%hide-med {
	@include breakpoint(med) {
		display: none !important;
	}
}

%hide-lg {
	@include breakpoint(lg) {
		display: none !important;
	}
}

%hide-xl {
	@include breakpoint(xl) {
		display: none !important;
	}
}

%hide-xxl {
	@include breakpoint(xxl) {
		display: none !important;
	}
}

// Define placeholders for showing content at different breakpoints
%show-mobile-sm {
	@include breakpoint(mobile-sm) {
		display: inherit;
	}
}

%show-mobile-med {
	@include breakpoint(mobile-med) {
		display: inherit;
	}
}

%show-mobile-lg {
	@include breakpoint(mobile-lg) {
		display: inherit;
	}
}

%show-mobile-lg-flex {
	@include breakpoint(mobile-lg) {
		display: flex !important;
	}
}

%show-mobile-lg-block {
	@include breakpoint(mobile-lg) {
		display: block !important;
	}
}

%show-sm {
	@include breakpoint(sm) {
		display: inherit;
	}
}

%show-sm-block {
	@include breakpoint(sm) {
		display: block !important;
	}
}

%show-sm-flex {
	@include breakpoint(sm) {
		display: flex !important;
	}
}

%show-med {
	@include breakpoint(med) {
		display: inherit;
	}
}

%show-med-flex {
	@include breakpoint(med) {
		display: flex !important;
	}
}

%show-med-block {
	@include breakpoint(med) {
		display: block !important;
	}
}

%show-med-list-item {
	@include breakpoint(med) {
		display: list-item !important;
	}
}

%show-lg {
	@include breakpoint(lg) {
		display: inherit;
	}
}

%show-lg-flex {
	@include breakpoint(lg) {
		display: flex !important;
	}
}

%show-lg-block {
	@include breakpoint(lg) {
		display: block !important;
	}
}

%show-xl {
	@include breakpoint(xl) {
		display: inherit;
	}
}

%show-xxl {
	@include breakpoint(xxl) {
		display: inherit;
	}
}
