@charset "utf-8";

.MobileNav_expansionIcon__Shaem path {
  transition: opacity 0.25s ease 0s;
}

.MobileNav_openOnly__HdzDT,
button[aria-expanded="true"]
  > svg.MobileNav_expansionIcon__Shaem
  :not(.MobileNav_openOnly__HdzDT) {
  opacity: 0;
}

button[aria-expanded="true"]
  > svg.MobileNav_expansionIcon__Shaem
  .MobileNav_openOnly__HdzDT {
  opacity: 1;
}

.MobileNav_navModal__O4e8P {
  position: fixed;
  max-height: calc(100vh - 16px - var(--nav-height));
  overflow-y: auto;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@supports (height: 100svb) {
  .MobileNav_navModal__O4e8P {
    max-height: calc(100svb - 16px - var(--nav-height));
  }
}

@supports (padding: calc(env(safe-area-inset-bottom))) {
  .MobileNav_navModal__O4e8P {
    padding-bottom: calc(0px + env(safe-area-inset-bottom));
  }
}

.MobileNav_navModal__O4e8P a,
.MobileNav_navModal__O4e8P button {
  display: block;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid var(--color-cobalt-20);
  color: var(--color-midnight);
  outline-color: var(--color-cobalt-core);
  outline-offset: -1px;
  text-decoration: none;
  cursor: pointer;
}

.MobileNav_navModal__O4e8P a:focus-visible,
.MobileNav_navModal__O4e8P button:focus-visible {
  color: var(--color-cobalt-core);
}

.MobileNav_navModalMenuContent___TxP1 {
  overflow: hidden;
}

.MobileNav_navModal__O4e8P .MobileNav_primaryLink__mac7b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-cobalt-core);
  outline-color: var(--color-midnight);
  color: rgb(255, 255, 255);
}

.MobileNav_navModal__O4e8P .MobileNav_primaryLink__mac7b:focus-visible {
  color: rgb(255, 255, 255);
}

.MobileNav_navModal__O4e8P h3 {
  font: inherit;
  margin: 0px;
}

.MobileNav_navModal__O4e8P .MobileNav_navModalMenuToggle__xYGYb {
  appearance: none;
  font: inherit;
  border-inline: 0px;
  border-top: 0px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  position: sticky;
  top: 0px;
}

.MobileNav_navModalMenuContent___TxP1 .MobileNav_navModalMenuToggle__xYGYb,
.MobileNav_navModalMenuContent___TxP1 a {
  background-color: var(--color-cobalt-1);
  color: var(--color-cobalt-100);
  padding-left: 48px;
}

.MobileNav_navModalMenuContent___TxP1 .MobileNav_navModalMenuToggle__xYGYb {
  position: static;
}

.MobileNav_navModalMenuContent___TxP1
  .MobileNav_navModalMenuContent___TxP1
  .MobileNav_navModalMenuContentWrapper__MZdYa {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 24px 16px 48px;
  border-bottom: 1px solid var(--color-cobalt-20);
}

.MobileNav_navModalMenuContent___TxP1
  .MobileNav_navModalMenuContent___TxP1
  .MobileNav_nestedLink___c0Qr {
  border-radius: 4px;
  background-color: var(--color-cobalt-5);
  color: var(--color-cobalt-core);
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 8px;
  gap: 4px;
  width: fit-content;
  height: auto;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  transition: background-color 0.125s ease 0s, color;
  border-bottom: 0px !important;
}

.MobileNav_navModalMenuContent___TxP1
  .MobileNav_navModalMenuContent___TxP1
  .MobileNav_nestedLink___c0Qr:first-of-type {
  background-color: var(--color-cobalt-core);
  color: var(--color-white);
}

.MobileNav_navModalMenuContent___TxP1
  .MobileNav_navModalMenuContent___TxP1
  .MobileNav_nestedLink___c0Qr:focus {
  outline-color: var(--color-cobalt-core);
  outline-offset: 3px;
}

@keyframes MobileNav_enterFromBottom__BOWMd {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes MobileNav_slideDown__2BF2I {
  0% {
    height: 0px;
  }
  100% {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes MobileNav_slideUp__oIkUu {
  0% {
    height: var(--radix-accordion-content-height);
  }
  100% {
    height: 0px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .MobileNav_navModal__O4e8P {
    animation: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal none running
      MobileNav_enterFromBottom__BOWMd;
  }
  .MobileNav_navModalMenuContent___TxP1[data-state="open"] {
    animation: 0.3s cubic-bezier(0.85, 0, 0.15, 1) 0s 1 normal none running
      MobileNav_slideDown__2BF2I;
  }
  .MobileNav_navModalMenuContent___TxP1[data-state="closed"] {
    animation: 0.3s cubic-bezier(0.85, 0, 0.15, 1) 0s 1 normal none running
      MobileNav_slideUp__oIkUu;
  }
}

.Icon_root__3_cAk {
  flex-shrink: 0;
  display: block;
  width: var(--size);
  height: var(--size);
  background-size: var(--size);
  background-image: var(--icon);
}

@supports ((-webkit-mask-image: url(#mask)) or (mask-image: url(#mask))) {
  .Icon_root__3_cAk {
    background-image: none;
    mask-size: var(--size);
    mask-image: var(--icon);
    background-color: var(--fill);
  }
}

.Icon_inline__BB_Cp {
  display: inline-block;
  vertical-align: text-bottom;
}

.Navbar_navbar__4haqK {
  padding: 0px;
  position: absolute;
  height: var(--nav-height);
  width: 100%;
  top: 0px;
  z-index: 100;
  font-size: 16px;
  transition: background-color 0.25s ease 0s;
  --color-border: var(--color-link);
  --color-logo: var(--color-cobalt-core);
  border-bottom: 1px solid var(--color-border);
}

.Navbar_navbar__4haqK:has(.solutions-menu) {
  --nav-menu-height: 220px;
}

.Navbar_navbar__4haqK:has(.platform-menu) {
  --nav-menu-height: 366px;
}

.Navbar_navbar__4haqK:has(.resources-menu) {
  --nav-menu-height: 335px;
}

.Navbar_navbar__4haqK.Navbar_isSticky__T0hR9 {
  position: sticky;
}

.Navbar_navbar__4haqK a,
.Navbar_navbar__4haqK button,
.Navbar_navbar__4haqK ul li {
  color: var(--color-link);
}

.Navbar_navbar__4haqK.Navbar_isOpaque__mx8GS,
.Navbar_navbar__4haqK:has(.Navbar_navMenu__6LA1y) {
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px;
  color: inherit;
  --color-link: var(--color-midnight);
}

.Navbar_navbar__4haqK:has(.Navbar_navMenu__6LA1y) {
  border-bottom: 1px solid var(--color-midnight) !important;
}

.Navbar_navbar__4haqK button {
  appearance: none;
  padding: 0px;
  font: inherit;
  border: none;
  background: none;
  display: flex;
  align-items: center;
}

.Navbar_disclosureTriangle__W7_UL {
  margin-left: 4px;
  transition: transform 0.25s ease 0s;
}

button[data-state="open"] .Navbar_disclosureTriangle__W7_UL {
  transform: rotate(-180deg);
}

.Navbar_navRoot__r3iRD {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: calc(var(--container-width) - 24px);
  height: 100%;
  margin: auto auto 1px;
  position: relative;
  z-index: 102;
}

.Navbar_navRoot__r3iRD > div:first-of-type {
  width: 100%;
  margin-inline: auto;
  position: static !important;
}

.Navbar_navRoot__r3iRD .Navbar_actionLink__nu04V {
  display: flex;
  align-items: center;
  border-left: 1px solid var(--color-border);
  padding: 0px 32px;
  height: 100%;
  transition: opacity 0.2s cubic-bezier(0.22, 1, 0.36, 1) 0s, background-color,
    color;
}

.Navbar_actionLink__nu04V:focus,
.Navbar_actionLink__nu04V:hover {
  background-color: var(--color-cobalt-1);
  color: var(--color-cobalt-core);
}

.Navbar_logoWrapper__hOZa9 {
  border-right: 1px solid var(--color-border);
  height: 100%;
  position: relative;
}

.Navbar_logoWrapper__hOZa9 [data-radix-popper-content-wrapper] {
  position: absolute !important;
  left: 0px !important;
  top: calc(100% + 1px) !important;
  transform: none !important;
}

.Navbar_logo___bnq9 {
  line-height: 0;
  padding: 0px 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  .Navbar_logo___bnq9 {
    padding: 0px;
  }
}

.Navbar_logo___bnq9 svg .mark {
  color: var(--color-link, var(--color-midnight));
}

.Navbar_navbar__4haqK ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  container-type: inline-size;
}

.Navbar_navbar__4haqK ul li {
  list-style-type: none;
  font-size: 20px;
  margin: 0px;
}

.Navbar_navbar__4haqK ul li > a {
  display: inline-block;
}

.Navbar_navbar__4haqK ul li > a,
.Navbar_navbar__4haqK ul li > button {
  padding: 22px 15px;
}

@container (max-width: 540px) {
  .Navbar_navbar__4haqK ul li > a,
  .Navbar_navbar__4haqK ul li > button {
    padding: 22px 10px;
  }
}

.Navbar_navbar__4haqK a:not(.disclaimer),
.Navbar_navbar__4haqK a:not(.disclaimer):focus,
.Navbar_navbar__4haqK a:not(.disclaimer):hover,
.Navbar_navbar__4haqK button {
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.5s cubic-bezier(0.22, 1, 0.36, 1) 0s, background-color;
  font-size: 20px;
  outline-color: var(--color-logo);
  outline-offset: -4px;
}

.Navbar_navbar__4haqK button:focus:not(:focus-visible) {
  outline: none;
}

.Navbar_navbar__4haqK a:where(:hover, :focus),
.Navbar_navbar__4haqK button:where(:hover, :focus) {
  color: var(--color-logo);
}

.Navbar_navbar__4haqK li a {
  display: flex;
  align-items: center;
}

.Navbar_navRoot__r3iRD .Navbar_actionLink__nu04V.Navbar_primary__RKy7o {
  min-width: 218px;
  text-align: center;
}

.Navbar_navRoot__r3iRD .Navbar_actionLink__nu04V.Navbar_primary__RKy7o:focus,
.Navbar_navRoot__r3iRD .Navbar_actionLink__nu04V.Navbar_primary__RKy7o:hover {
  background-color: var(--color-cobalt-core);
  color: rgb(255, 255, 255);
  outline: none;
}

.Navbar_navbar__4haqK.Navbar_isTranslucent__E5jx1.Navbar_isInverted__UgTy5 {
  --color-logo: var(--color-cobalt-20);
  --color-border: var(--color-cobalt-40);
  border-bottom: 1px solid var(--color-border);
  --color-link: #fff !important;
}

.Navbar_navbar__4haqK.Navbar_isInverted__UgTy5:has(.Navbar_navMenu__6LA1y) {
  background-color: rgb(255, 255, 255);
  --color-logo: var(--color-cobalt-core);
  --color-border: var(--color-cobalt-20);
  border-bottom-color: var(--color-link);
  --color-link: var(--color-midnight) !important;
}

.Navbar_navbar__4haqK.Navbar_isInverted__UgTy5.Navbar_isTranslucent__E5jx1
  .Navbar_root__5oImI
  .Navbar_actionLink__nu04V:hover {
  background-color: var(--color-cobalt-core);
  color: rgb(255, 255, 255);
}

.Navbar_navbar__4haqK.Navbar_isInverted__UgTy5 .Navbar_logoWrapper__hOZa9 {
  border-right-color: var(--color-border);
}

@media (min-width: 820px) {
  .Navbar_linesContainer__DSYFH {
    position: absolute;
    z-index: 103;
    pointer-events: none;
    width: calc(min(100%, var(--container-width)) - 24px);
    height: calc(var(--nav-height) + var(--nav-menu-height));
    transition: height 0.25s ease-in-out 0s;
    left: 50%;
    transform: translateX(-50%);
  }
  .Navbar_hasLinesDescend__9Ilfe .Navbar_linesContainer__DSYFH {
    height: calc(var(--nav-height) + max(var(--nav-menu-height), 24px));
  }
  .Navbar_lines__dwn_n {
    position: relative;
    left: 0px;
    right: 0px;
    border-inline: var(--border-dashed-cobalt);
    top: 0px;
    height: 100%;
  }
  .Navbar_navbar__4haqK.Navbar_isTranslucent__E5jx1.Navbar_isInvertedDesktop__URY_0 {
    --color-logo: var(--color-cobalt-20);
    --color-border: var(--color-cobalt-40);
    border-bottom: 1px solid var(--color-border);
    --color-link: #fff !important;
  }
  .Navbar_navbar__4haqK.Navbar_isInvertedDesktop__URY_0:has(
      .Navbar_navMenu__6LA1y
    ) {
    background-color: rgb(255, 255, 255);
    --color-logo: var(--color-cobalt-core);
    --color-border: var(--color-cobalt-20);
    border-bottom-color: var(--color-link);
    --color-link: var(--color-midnight) !important;
  }
  .Navbar_navbar__4haqK.Navbar_isInvertedDesktop__URY_0.Navbar_isTranslucent__E5jx1
    .Navbar_root__5oImI
    .Navbar_actionLink__nu04V:hover {
    background-color: var(--color-cobalt-core);
    color: rgb(255, 255, 255);
  }
  .Navbar_navbar__4haqK.Navbar_isInvertedDesktop__URY_0
    .Navbar_logoWrapper__hOZa9 {
    border-right-color: var(--color-border);
  }
}

.Navbar_navOverflowTrigger__UDgvL {
  justify-content: center;
  margin-right: -12px;
  display: none !important;
  padding: 12px !important;
}

.Navbar_navOverflowTrigger__UDgvL:focus-visible svg {
  fill: var(--color-logo);
}

@media screen and (max-width: 1050px) {
  .Navbar_navRoot__r3iRD {
    padding: 0px 12px;
    justify-content: space-between;
  }
  .Navbar_logoWrapper__hOZa9,
  .Navbar_logoWrapper__hOZa9::before {
    border: none;
  }
  .Navbar_navRoot__r3iRD .Navbar_actionLink__nu04V,
  .Navbar_navRoot__r3iRD > div:first-of-type {
    display: none;
  }
  .Navbar_navRoot__r3iRD > :not(:first-child) {
    border: none;
  }
  .Navbar_navOverflowTrigger__UDgvL {
    display: flex !important;
  }
}

@media screen and (min-width: 820px) and (max-width: 1050px) {
  .Navbar_navRoot__r3iRD {
    padding-inline: 24px;
  }
}

.Navbar_navViewport__i_Kz2 {
  background-color: rgb(255, 255, 255);
  width: var(--radix-navigation-menu-viewport-width);
  height: var(--radix-navigation-menu-viewport-height);
  transition: width 0s ease 0s, height 0s ease 0s, all 0.25s ease 0s;
  overflow: hidden;
  position: relative;
  z-index: -1;
  transform-origin: center top;
}

@media (prefers-reduced-motion: no-preference) {
  .Navbar_navViewport__i_Kz2[data-state="open"] {
    animation: 0.3s cubic-bezier(0.85, 0, 0.15, 1) 0s 1 normal none running
      Navbar_enterFromTop__aJ1oE;
  }
  .Navbar_navViewport__i_Kz2[data-state="closed"] {
    animation: 0.3s cubic-bezier(0.85, 0, 0.15, 1) 0s 1 normal none running
      Navbar_exitToTop__o7fqR;
  }
}

@keyframes Navbar_enterFromTop__aJ1oE {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes Navbar_exitToTop__o7fqR {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-25px);
  }
}

.Navbar_navMenu__6LA1y {
  width: 100vw;
  scrollbar-gutter: stable;
  overflow: hidden;
  color: var(--color-midnight);
  border-bottom: 1px solid var(--color-midnight);
  animation-duration: 0.25s;
  animation-timing-function: ease;
}

@media (prefers-reduced-motion: no-preference) {
  .Navbar_navMenu__6LA1y[data-motion="from-start"] {
    animation-name: Navbar_enterFromLeft__SGj03;
  }
  .Navbar_navMenu__6LA1y[data-motion="from-end"] {
    animation-name: Navbar_enterFromRight__N2SN6;
  }
  .Navbar_navMenu__6LA1y[data-motion="to-start"] {
    animation-name: Navbar_exitToLeft__9h5BG;
  }
  .Navbar_navMenu__6LA1y[data-motion="to-end"] {
    animation-name: Navbar_exitToRight__uY1y4;
  }
}

@keyframes Navbar_enterFromRight__N2SN6 {
  0% {
    opacity: 0;
    transform: translateX(128px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes Navbar_enterFromLeft__SGj03 {
  0% {
    opacity: 0;
    transform: translateX(-128px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes Navbar_exitToRight__uY1y4 {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(128px);
  }
}

@keyframes Navbar_exitToLeft__9h5BG {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-128px);
  }
}

.Navbar_resourcesMenu__Ntyt3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 1px;
  background-color: var(--color-cobalt-30);
  margin-inline: 218.5px;
  outline: var(--border-dashed-cobalt);
  margin-block: -1px;
  transform: translateX(0.5px);
}

.Navbar_resourcesMenu__Ntyt3 > a {
  background-color: var(--color-white);
}

.Navbar_resourcesMenuSection__YjlW7 {
  background-color: var(--color-white);
  padding: 32px;
}

.Navbar_resourcesMenuSection__YjlW7:nth-of-type(2) {
  grid-column: span 2;
}

.Navbar_resourcesMenuSection__YjlW7 h2 {
  font: inherit;
}

.Navbar_resourcesMenu__Ntyt3 a.Navbar_resourcesMenuSectionTitle__dmMra {
  font-size: 20px;
  height: auto;
  display: flex;
  margin: 0px 0px 16px !important;
  border-bottom: 0px !important;
  background: transparent !important;
}

.Navbar_resourcesMenu__Ntyt3 a.Navbar_resourcesMenuSectionTitle__dmMra svg {
  opacity: 0;
  transition: transform 0.25s cubic-bezier(0.22, 1, 0.36, 1) 0s, opacity;
  margin-left: 0.125ch;
}

.Navbar_resourcesMenu__Ntyt3 a.Navbar_resourcesMenuSectionTitle__dmMra:hover {
  color: var(--color-cobalt-core);
}

.Navbar_resourcesMenu__Ntyt3
  a.Navbar_resourcesMenuSectionTitle__dmMra:hover
  svg {
  opacity: 1;
  transform: translateX(0.5ch);
}

.Navbar_resourcesMenu__Ntyt3 a.Navbar_resourcesMenuSectionTitle__dmMra:focus {
  outline-offset: 4px;
}

.Navbar_resourcesMenu__Ntyt3 > a:hover {
  color: var(--color-cobalt-core);
}

.Navbar_resourcesMenu__Ntyt3 a.Navbar_subLink__X0lD4 {
  position: relative;
  border-radius: 4px;
  background-color: var(--color-cobalt-5);
  color: var(--color-cobalt-core);
  display: flex;
  padding: 4px 12px 4px 28px;
  gap: 4px;
  height: auto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  transition: background-color 0.125s ease 0s, color;
  border-bottom: 0px !important;
}

.Navbar_resourcesMenu__Ntyt3 a.Navbar_subLink__X0lD4:focus-visible,
.Navbar_resourcesMenu__Ntyt3 a.Navbar_subLink__X0lD4:hover,
.Navbar_resourcesMenu__Ntyt3
  a.Navbar_subLink__X0lD4[href="/en-GB/sustainability-assessment"],
.Navbar_resourcesMenu__Ntyt3
  a.Navbar_subLink__X0lD4[href="/sustainability-assessment"] {
  background-color: var(--color-cobalt-core);
  color: var(--color-white);
}

.Navbar_resourcesMenu__Ntyt3
  a.Navbar_subLink__X0lD4[href="/en-GB/sustainability-assessment"],
.Navbar_resourcesMenu__Ntyt3
  a.Navbar_subLink__X0lD4[href="/sustainability-assessment"] {
  margin-top: 8px;
  white-space: inherit;
  width: min-content;
}

.Navbar_resourcesMenu__Ntyt3
  a.Navbar_subLink__X0lD4[href="/en-GB/sustainability-assessment"]:focus-visible,
.Navbar_resourcesMenu__Ntyt3
  a.Navbar_subLink__X0lD4[href="/en-GB/sustainability-assessment"]:hover,
.Navbar_resourcesMenu__Ntyt3
  a.Navbar_subLink__X0lD4[href="/sustainability-assessment"]:focus-visible,
.Navbar_resourcesMenu__Ntyt3
  a.Navbar_subLink__X0lD4[href="/sustainability-assessment"]:hover {
  background-color: var(--color-cobalt-100);
}

.Navbar_resourcesMenu__Ntyt3 a.Navbar_subLink__X0lD4 svg {
  position: absolute;
  top: 2px;
  left: 4px;
}

.Navbar_subLinkList__UIwaF {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.Navbar_resourcesMenuStandardLink__IspY1 {
  font-size: 20px;
  padding: 24px 32px;
  margin: 0px !important;
}

.Navbar_navMenu__6LA1y > div {
  width: 100%;
  max-width: calc(var(--container-width) - 24px);
  margin: 0px auto;
  position: relative;
}

.Navbar_navMenu__6LA1y a {
  display: flex;
  align-items: center;
  height: var(--nav-height);
  color: var(--color-midnight);
  margin: 0px 1px;
}

.Navbar_navMenu__6LA1y a:hover {
  background-color: var(--color-cobalt-1);
}

.Navbar_navMenu__6LA1y a:focus-visible {
  outline-offset: -1px;
}

.Navbar_navMenu__6LA1y a:focus-visible div:first-child {
  color: var(--color-cobalt-core);
}

.Navbar_navMenu__6LA1y a:not(:last-child) {
  border-bottom: 1px solid var(--color-cobalt-20);
}

.Navbar_navMenu__6LA1y a div:first-child {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100%;
  padding-left: 62px;
  border-right: 1px dashed var(--color-cobalt-20);
  margin-right: 48px;
  font-size: 24px;
}

.Navbar_navMenu__6LA1y .Navbar_annotation__QWjBn {
  color: var(--color-cobalt-core);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transform: rotate(-90deg) translateX(-100%);
  position: absolute;
  transform-origin: 0px 0px;
  font-family: var(--font-family-mono);
  text-align: center;
  margin: 16px 0px 0px -32px;
}

@supports not selector(.navbar:has(.navMenu)) {
  .Navbar_navMenu__6LA1y > div {
    border-inline: var(--border-dashed-cobalt);
  }
  .Navbar_navbar__4haqK.Navbar_isOpaque__mx8GS {
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px;
    color: inherit;
    --color-link: var(--color-midnight);
  }
}

@keyframes Navbar_fadeIn__wi8Rv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Navbar_navbarOverlay__deNvm {
  position: fixed;
  inset: 0px;
  z-index: 1000;
  background: rgba(11, 36, 113, 0.6);
  transition: opacity 0.2s ease 0s;
  animation: 0.2s ease 0s 1 normal none running Navbar_fadeIn__wi8Rv;
}

.Navbar_contentMenuTrigger__ii_hO {
  position: relative;
}

.Navbar_contextMenuContent__rBKKo {
  overflow: hidden;
  transform-origin: var(--radix-context-menu-content-transform-origin);
  z-index: 100;
  left: var(--radix-context-menu-content-left-offset);
  width: calc(219px - var(--radix-context-menu-content-left-offset));
  display: grid;
  row-gap: 8px;
  background-color: rgba(255, 255, 255, 0.98);
  padding: 10px;
  border-right: 1px dashed var(--color-cobalt-30);
  position: relative;
}

.Navbar_contextMenuContent__rBKKo::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 100%;
  border-left: 1px dashed var(--color-cobalt-30);
}

.Navbar_contextMenuContent__rBKKo::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 1px;
  border-bottom: 1px solid var(--color-border);
}

@media screen and (max-width: 1050px) {
  .Navbar_contextMenuContent__rBKKo {
    left: calc(var(--radix-context-menu-content-left-offset) * -1);
    width: 219px;
  }
}

.Navbar_contextMenuContent__rBKKo[data-state="open"] {
  animation: 0.25s ease-out 0s 1 normal none running Navbar_fadeInDown__fRGr3 !important;
}

.Navbar_contextMenuContent__rBKKo[data-state="closed"] {
  animation: 115ms ease-out 0s 1 normal none running Navbar_fadeOutUp__IzLsE !important;
}

.Navbar_contextMenuSeparator__Y3lE_ {
  border-top: 1px solid var(--color-cobalt-10);
  margin: 0px -10px;
}

.Navbar_contextMenuItem__SoYEy {
  display: block;
  color: var(--color-midnight);
  text-decoration: none;
  outline: none;
  transition: color 0.125s ease-in-out 0s;
}

.Navbar_contextMenuItem__SoYEy:focus,
.Navbar_contextMenuItem__SoYEy:hover {
  color: var(--color-cobalt-core);
}

@keyframes Navbar_fadeInDown__fRGr3 {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.98);
    transform: translateY(0px);
  }
}

@keyframes Navbar_fadeOutUp__IzLsE {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.styles_root__e30Kj {
  position: relative;
  background-color: var(--color-white);
  color: var(--color-midnight);
  padding-top: 48px;
}

.styles_root__e30Kj.styles_hasBorder__5_KIS::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 12px;
  right: 12px;
  border-top: 2px solid var(--color-cobalt-5);
  pointer-events: none;
}

.styles_container__S4gu_ {
  position: relative;
}

.styles_top__lyf1a {
  --column-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  align-items: flex-start;
  gap: 60px 20px;
}

@media (min-width: 1024px) {
  .styles_top__lyf1a {
    --column-count: 4;
  }
}

.styles_logoGroup__EZ_XV {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (min-width: 820px) {
  .styles_logoGroup__EZ_XV {
    padding-left: 24px;
  }
}

@media (min-width: 1024px) {
  .styles_logoGroup__EZ_XV {
    flex-direction: column;
    align-items: flex-start;
  }
}

.styles_locales__OI7Fp a {
  border-radius: 999px;
  padding: 4px 15px;
  color: var(--color-midnight);
  font-size: 14px;
}

.styles_locales__OI7Fp a + a {
  margin-left: 4px;
}

.styles_locales__OI7Fp a[aria-current="true"] {
  border: 2px solid var(--color-grey-30);
  font-weight: 700;
}

.styles_linkGroups__8pDLV {
  --column-count: 1;
  --column-span: 1;
  --row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-column: span var(--column-span);
  row-gap: var(--row-gap);
  column-gap: 20px;
  align-items: flex-start;
}

@media (min-width: 520px) {
  .styles_linkGroups__8pDLV {
    --column-count: 2;
    --column-span: 2;
    --row-gap: 60px;
  }
}

@media (min-width: 820px) {
  .styles_linkGroups__8pDLV {
    --column-count: 3;
    --column-span: 3;
  }
}

.styles_linkCallout__MM9G_ {
  position: relative;
  padding: 24px 24px 0px;
  border-left: 1px solid var(--color-cobalt-core);
}

@media (min-width: 820px) {
  .styles_linkCallout__MM9G_ {
    grid-column-start: 3;
  }
}

@media (min-width: 1024px) {
  .styles_linkCallout__MM9G_ {
    grid-area: 2 / 1 / 2 / 1;
    transform: translateX(calc(-100% - 20px));
  }
}

.styles_linkCallout__MM9G_::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -1px;
  bottom: 0px;
  border-left: 1px dashed var(--color-cobalt-core);
}

.styles_linkCallout__MM9G_::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -20px;
  width: 40px;
  border-top: 1px dashed var(--color-cobalt-core);
}

.styles_linkCalloutText__zhelh {
  margin: 0px 0px 16px;
}

.styles_linkCalloutAnchor__RZDvi {
  --icon-translate-x: 0;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}

.styles_linkCalloutAnchor__RZDvi:hover {
  --icon-translate-x: 4px;
}

.styles_linkCalloutAnchor__RZDvi span {
  transform: translateX(var(--icon-translate-x));
  transition: transform 0.125s ease-in-out 0s;
}

.styles_linkGroup__ER7QH {
  position: relative;
  padding-left: 24px;
  border-left: 1px dashed var(--color-cobalt-20);
}

@media (min-width: 1024px) {
  .styles_linkGroup__ER7QH {
    padding-left: 40px;
  }
}

.styles_linkCallout__MM9G_ + .styles_linkGroup__ER7QH {
  grid-column-start: 1;
}

@media (min-width: 1024px) {
  .styles_linkGroupsWithCallout__BsDPw .styles_linkGroup__ER7QH:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

.styles_linkGroupTitle__aYEaX {
  margin-bottom: 16px;
  font-weight: 600;
  color: var(--color-midnight);
}

.styles_linkGroupTitle__aYEaX a {
  color: inherit;
  transition: color 0.125s ease-in-out 0s;
  text-decoration: none;
}

.styles_linkGroupTitle__aYEaX a:hover {
  color: var(--color-cobalt-core);
}

.styles_linkGroupItems__iqnXS {
  display: grid;
  gap: 8px;
}

.styles_linkGroupItem___X5av {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.styles_linkGroupAnchor__kn_hb {
  color: var(--color-midnight);
  text-decoration: none;
  transition: color 0.125s ease-in-out 0s;
}

.styles_linkGroupAnchor__kn_hb:hover {
  color: var(--color-cobalt-core);
}

.styles_linkGroupBadge__amayI {
  padding: 2px 6px;
  border-radius: 3px;
  font-family: var(--font-family-mono);
  text-transform: uppercase;
  color: var(--color-cobalt-70);
  background-color: var(--color-cobalt-5);
  line-height: 1.1;
}

.styles_linkGroupDropdownTrigger__mLN4A {
  appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  color: var(--color-midnight);
  font-family: var(--font-family);
  font-weight: 500;
  transition: color 0.125s ease-in-out 0s;
}

.styles_linkGroupDropdownTrigger__mLN4A span,
.styles_linkGroupDropdownTrigger__mLN4A:hover {
  color: var(--color-cobalt-core);
}

.styles_linkGroupDropdownContent__Xor6O {
  min-width: 200px;
  display: grid;
  row-gap: 8px;
  background-color: var(--color-white);
  padding: 10px;
  border: 1px solid var(--color-cobalt-10);
  animation: 0.25s ease-out 0s 1 normal none running styles_fadeInUp__5sjie;
}

@keyframes styles_fadeInUp__5sjie {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.styles_linkGroupDropdownItem__Vp973 {
  display: block;
  color: var(--color-midnight);
  text-decoration: none;
  outline: none;
  transition: color 0.125s ease-in-out 0s;
}

.styles_linkGroupDropdownItem__Vp973:focus,
.styles_linkGroupDropdownItem__Vp973:hover {
  color: var(--color-cobalt-core);
}

.styles_staticFooter__73FSX {
  padding-top: 30px;
  padding-bottom: 48px;
  background-color: var(--color-white);
}

.styles_staticFooterInner__CbTBd {
  display: flex;
  flex-direction: column;
  column-gap: 32px;
}

@media (min-width: 820px) {
  .styles_staticFooterInner__CbTBd {
    flex-direction: row;
    align-items: center;
  }
}

.styles_social__RN1xW {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.styles_social__RN1xW a {
  display: inline-block;
  line-height: 0;
  color: var(--color-grey-50);
  transition: color 0.125s ease-in-out 0s;
}

.styles_social__RN1xW a:focus,
.styles_social__RN1xW a:hover {
  color: var(--color-grey-70);
}

.styles_social__RN1xW svg {
  fill: currentcolor;
}

.styles_legal__eoz5i {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 520px) {
  .styles_legal__eoz5i {
    flex-direction: row;
  }
}

@media (min-width: 820px) {
  .styles_legal__eoz5i {
    margin-top: 0px;
  }
}

.styles_legal__eoz5i a,
.styles_legal__eoz5i button {
  text-align: left;
  appearance: none;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: 0px;
  font-size: 14px;
  color: var(--color-grey-70);
  text-decoration: underline;
}

.styles_copyright__u4M75 {
  margin: 6px 0px 0px;
  color: var(--color-grey-70);
  font-size: 14px;
}

@media (min-width: 820px) {
  .styles_copyright__u4M75 {
    margin-top: 0px;
  }
}
