@charset "utf-8";

.styles_root__e30Kj {
  position: relative;
  background-color: var(--color-white);
  color: var(--color-midnight);
  padding-top: 48px;
}

.styles_root__e30Kj.styles_hasBorder__5_KIS::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 12px;
  right: 12px;
  border-top: 2px solid var(--color-cobalt-5);
  pointer-events: none;
}

.styles_container__S4gu_ {
  position: relative;
}

.styles_top__lyf1a {
  --column-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  align-items: flex-start;
  gap: 60px 20px;
}

@media (min-width: 1024px) {
  .styles_top__lyf1a {
    --column-count: 4;
  }
}

.styles_logoGroup__EZ_XV {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (min-width: 820px) {
  .styles_logoGroup__EZ_XV {
    padding-left: 24px;
  }
}

@media (min-width: 1024px) {
  .styles_logoGroup__EZ_XV {
    flex-direction: column;
    align-items: flex-start;
  }
}

.styles_locales__OI7Fp a {
  border-radius: 999px;
  padding: 4px 15px;
  color: var(--color-midnight);
  font-size: 14px;
}

.styles_locales__OI7Fp a + a {
  margin-left: 4px;
}

.styles_locales__OI7Fp a[aria-current="true"] {
  border: 2px solid var(--color-grey-30);
  font-weight: 700;
}

.styles_linkGroups__8pDLV {
  --column-count: 1;
  --column-span: 1;
  --row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-column: span var(--column-span);
  row-gap: var(--row-gap);
  column-gap: 20px;
  align-items: flex-start;
}

@media (min-width: 520px) {
  .styles_linkGroups__8pDLV {
    --column-count: 2;
    --column-span: 2;
    --row-gap: 60px;
  }
}

@media (min-width: 820px) {
  .styles_linkGroups__8pDLV {
    --column-count: 3;
    --column-span: 3;
  }
}

.styles_linkCallout__MM9G_ {
  position: relative;
  padding: 24px 24px 0px;
  border-left: 1px solid var(--color-cobalt-core);
}

@media (min-width: 820px) {
  .styles_linkCallout__MM9G_ {
    grid-column-start: 3;
  }
}

@media (min-width: 1024px) {
  .styles_linkCallout__MM9G_ {
    grid-area: 2 / 1 / 2 / 1;
    transform: translateX(calc(-100% - 20px));
  }
}

.styles_linkCallout__MM9G_::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -1px;
  bottom: 0px;
  border-left: 1px dashed var(--color-cobalt-core);
}

.styles_linkCallout__MM9G_::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -20px;
  width: 40px;
  border-top: 1px dashed var(--color-cobalt-core);
}

.styles_linkCalloutText__zhelh {
  margin: 0px 0px 16px;
}

.styles_linkCalloutAnchor__RZDvi {
  --icon-translate-x: 0;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}

.styles_linkCalloutAnchor__RZDvi:hover {
  --icon-translate-x: 4px;
}

.styles_linkCalloutAnchor__RZDvi span {
  transform: translateX(var(--icon-translate-x));
  transition: transform 0.125s ease-in-out 0s;
}

.styles_linkGroup__ER7QH {
  position: relative;
  padding-left: 24px;
  border-left: 1px dashed var(--color-cobalt-20);
}

@media (min-width: 1024px) {
  .styles_linkGroup__ER7QH {
    padding-left: 40px;
  }
}

.styles_linkCallout__MM9G_ + .styles_linkGroup__ER7QH {
  grid-column-start: 1;
}

@media (min-width: 1024px) {
  .styles_linkGroupsWithCallout__BsDPw .styles_linkGroup__ER7QH:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

.styles_linkGroupTitle__aYEaX {
  margin-bottom: 16px;
  font-weight: 600;
  color: var(--color-midnight);
}

.styles_linkGroupTitle__aYEaX a {
  color: inherit;
  transition: color 0.125s ease-in-out 0s;
  text-decoration: none;
}

.styles_linkGroupTitle__aYEaX a:hover {
  color: var(--color-cobalt-core);
}

.styles_linkGroupItems__iqnXS {
  display: grid;
  gap: 8px;
}

.styles_linkGroupItem___X5av {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.styles_linkGroupAnchor__kn_hb {
  color: var(--color-midnight);
  text-decoration: none;
  transition: color 0.125s ease-in-out 0s;
}

.styles_linkGroupAnchor__kn_hb:hover {
  color: var(--color-cobalt-core);
}

.styles_linkGroupBadge__amayI {
  padding: 2px 6px;
  border-radius: 3px;
  font-family: var(--font-family-mono);
  text-transform: uppercase;
  color: var(--color-cobalt-70);
  background-color: var(--color-cobalt-5);
  line-height: 1.1;
}

.styles_linkGroupDropdownTrigger__mLN4A {
  appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  color: var(--color-midnight);
  font-family: var(--font-family);
  font-weight: 500;
  transition: color 0.125s ease-in-out 0s;
}

.styles_linkGroupDropdownTrigger__mLN4A span,
.styles_linkGroupDropdownTrigger__mLN4A:hover {
  color: var(--color-cobalt-core);
}

.styles_linkGroupDropdownContent__Xor6O {
  min-width: 200px;
  display: grid;
  row-gap: 8px;
  background-color: var(--color-white);
  padding: 10px;
  border: 1px solid var(--color-cobalt-10);
  animation: 0.25s ease-out 0s 1 normal none running styles_fadeInUp__5sjie;
}

@keyframes styles_fadeInUp__5sjie {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.styles_linkGroupDropdownItem__Vp973 {
  display: block;
  color: var(--color-midnight);
  text-decoration: none;
  outline: none;
  transition: color 0.125s ease-in-out 0s;
}

.styles_linkGroupDropdownItem__Vp973:focus,
.styles_linkGroupDropdownItem__Vp973:hover {
  color: var(--color-cobalt-core);
}

.styles_staticFooter__73FSX {
  padding-top: 30px;
  padding-bottom: 48px;
  background-color: var(--color-white);
}

.styles_staticFooterInner__CbTBd {
  display: flex;
  flex-direction: column;
  column-gap: 32px;
}

@media (min-width: 820px) {
  .styles_staticFooterInner__CbTBd {
    flex-direction: row;
    align-items: center;
  }
}

.styles_social__RN1xW {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.styles_social__RN1xW a {
  display: inline-block;
  line-height: 0;
  color: var(--color-grey-50);
  transition: color 0.125s ease-in-out 0s;
}

.styles_social__RN1xW a:focus,
.styles_social__RN1xW a:hover {
  color: var(--color-grey-70);
}

.styles_social__RN1xW svg {
  fill: currentcolor;
}

.styles_legal__eoz5i {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 520px) {
  .styles_legal__eoz5i {
    flex-direction: row;
  }
}

@media (min-width: 820px) {
  .styles_legal__eoz5i {
    margin-top: 0px;
  }
}

.styles_legal__eoz5i a,
.styles_legal__eoz5i button {
  text-align: left;
  appearance: none;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: 0px;
  font-size: 14px;
  color: var(--color-grey-70);
  text-decoration: underline;
}

.styles_copyright__u4M75 {
  margin: 6px 0px 0px;
  color: var(--color-grey-70);
  font-size: 14px;
}

@media (min-width: 820px) {
  .styles_copyright__u4M75 {
    margin-top: 0px;
  }
}

@font-face {
  font-family: __messinaSans_da5535;
  src: url("/_next/static/media/3e1374245de3efa4-s.p.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: __messinaSans_da5535;
  src: url("/_next/static/media/7047cd8e615f93ee-s.p.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: __messinaSans_da5535;
  src: url("/_next/static/media/0f3d8bde54089a1b-s.p.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: __messinaSans_da5535;
  src: url("/_next/static/media/1122631f235fa328-s.p.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: __messinaSans_da5535;
  src: url("/_next/static/media/690c35e7a127f9e9-s.p.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: __messinaSans_da5535;
  src: url("/_next/static/media/1b4fb0ca36fd59ca-s.p.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: __messinaSans_Fallback_da5535;
  src: local("Arial");
  ascent-override: 90.68%;
  descent-override: 23.03%;
  line-gap-override: 18.95%;
  size-adjust: 105.53%;
}

.__className_da5535 {
  font-family: __messinaSans_da5535, __messinaSans_Fallback_da5535;
}

.__variable_da5535 {
  --font-family: "__messinaSans_da5535", "__messinaSans_Fallback_da5535";
}

@font-face {
  font-family: __messinaSansMono_2ce486;
  src: url("/_next/static/media/b18d6d912794de8c-s.p.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: __messinaSansMono_Fallback_2ce486;
  src: local("Arial");
  ascent-override: 69.31%;
  descent-override: 17.6%;
  line-gap-override: 0%;
  size-adjust: 138.07%;
}

.__className_2ce486 {
  font-family: __messinaSansMono_2ce486, __messinaSansMono_Fallback_2ce486;
}

.__variable_2ce486 {
  --font-family-mono: "__messinaSansMono_2ce486",
    "__messinaSansMono_Fallback_2ce486";
}

@font-face {
  font-family: __mackinacPro_ae6c5c;
  src: url("/_next/static/media/95ad2edda480b2db-s.p.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: __mackinacPro_ae6c5c;
  src: url("/_next/static/media/7e5abff503729458-s.p.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: __mackinacPro_Fallback_ae6c5c;
  src: local("Arial");
  ascent-override: 70.23%;
  descent-override: 18.14%;
  line-gap-override: 23.5%;
  size-adjust: 106.37%;
}

.__className_ae6c5c {
  font-family: __mackinacPro_ae6c5c, __mackinacPro_Fallback_ae6c5c;
}

.__variable_ae6c5c {
  --font-family-serif: "__mackinacPro_ae6c5c", "__mackinacPro_Fallback_ae6c5c";
}
