@charset "utf-8";

:root {
  --font-size: 20px;
  --line-height: 1.2;
  --padding: 24px;
  --container-width: 1224px;
  --color-cobalt-1: #f7f9ff;
  --color-cobalt-5: #ebf0ff;
  --color-cobalt-10: #dee6ff;
  --color-cobalt-20: #c9d6fe;
  --color-cobalt-30: #93aeff;
  --color-cobalt-40: #657eff;
  --color-cobalt-70: #053ce1;
  --color-cobalt-100: #032ca5;
  --color-grey-30: #bcc7e2;
  --color-grey-50: #8494c3;
  --color-grey-60: #6d7fb2;
  --color-grey-70: #415591;
  --color-grey-100: #242c47;
  --color-midnight: #0b2471;
  --color-newday: #fffbf3;
  --color-cobalt-medium: #5d93ff;
  --color-cobalt-core: #265cff;
  --color-cobalt-deep: #03c;
  --color-spring: #8ab280;
  --color-spring-10: #e0eddd;
  --color-spring-20: #c8e8be;
  --color-forest: #1d7368;
  --color-sunbeam: #ffe8a3;
  --color-poppy: #f63;
  --color-straw: #f9f5d6;
  --color-grass: #00bb81;
  --color-marigold: #eca74e;
  --color-tangerine: #f96;
  --color-energy: #abf1d0;
  --color-early-spring: #bddcc3;
  --color-sky: #c4e7f4;
  --color-afternoon: #e9c471;
  --color-sun: #e77054;
  --color-warm-light: #f3e1c0;
  --color-storm: #5d8bb8;
  --color-white: #fff;
  --color-background: #fff;
  --border-dashed-cobalt: 1px dashed rgba(13, 89, 242, 0.5);
}

html {
  text-size-adjust: 100%;
  overflow-x: hidden;
}

* {
  margin: 0px;
  box-sizing: border-box;
  letter-spacing: -0.01em;
  outline-color: var(--color-cobalt-core);
}

body {
  height: 100%;
  font-family: var(--font-family);
  background: var(--color-background, #fff);
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-midnight);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: none;
  padding-bottom: 18px;
  scroll-behavior: auto;
}

main {
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 24px 12px;
  margin: 0px auto;
  width: 100%;
  max-width: var(--container-width);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.animate-spin {
  animation: 2s linear 0s infinite normal none running spin;
}

.h1,
h1 {
  margin: 0 0 var(--font-size);
  font-size: 90px;
  line-height: 105%;
  font-weight: 300;
}

h1.f-w-400 {
  line-height: 1.1;
}

@media (max-width: 520px) {
  .h1,
  h1 {
    font-size: 60px;
    line-height: 1;
  }
}

.h1.font-serif {
  letter-spacing: -0.18rem;
}

.h2,
h2 {
  margin: 0 0 var(--font-size);
  font-size: 38px;
  line-height: 1.1;
  letter-spacing: -0.08rem;
  color: var(--color-midnight);
}

@media (min-width: 420px) {
  .h2,
  h2 {
    font-size: 42px;
  }
}

@media (min-width: 600px) {
  .h2,
  h2 {
    font-size: 60px;
  }
}

.h2 {
  font-weight: 400;
}

.h3,
h3 {
  margin: 0 0 var(--font-size);
  font-weight: 500;
  text-align: left;
  font-size: 38px;
  line-height: 110%;
  letter-spacing: -0.4px;
  color: var(--color-midnight);
}

@media (min-width: 600px) {
  .h3,
  h3 {
    font-size: 48px;
  }
}

.h3 {
  letter-spacing: -0.4px;
}

.h4,
h4 {
  margin: 0 0 var(--font-size);
  font-size: 30px;
  letter-spacing: -0.004em;
  line-height: 110%;
}

@media (min-width: 600px) {
  .h4,
  h4 {
    font-size: 35px;
  }
}

.h4 {
  font-weight: 500;
}

.h5,
h5 {
  margin: 0 0 var(--font-size);
  font-size: 25px;
  line-height: 115%;
}

@media (min-width: 600px) {
  .h5,
  h5 {
    font-size: 28px;
  }
}

.h5 {
  font-weight: 500;
}

.h5,
.h6,
h6 {
  letter-spacing: -0.4px;
}

.h6,
h6 {
  font-size: 24px;
  line-height: 110%;
}

h2[aria-labelledby],
h2[id],
h3[aria-labelledby],
h3[id],
h4[aria-labelledby],
h4[id] {
  scroll-margin-top: calc(var(--nav-height) + 24px);
}

:is(h1, h2, h3, h4) > span {
  letter-spacing: inherit;
}

.eyebrow {
  line-height: 22px;
}

.body,
li,
p {
  font-size: 20px;
  line-height: 28px;
  color: var(--color-midnight);
  margin-bottom: var(--font-size);
  max-width: 720px;
  font-weight: 500;
}

ul {
  list-style-type: disc;
  padding-left: 22px;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;
}

ol li::marker {
  font-size: inherit;
  color: var(--color-midnight);
}

ul li::marker {
  font-size: inherit;
  color: var(--color-midnight);
}

li li {
  margin-top: 4px;
  margin-bottom: 4px;
}

li li:last-of-type {
  margin-bottom: 8px;
}

a {
  color: var(--color-cobalt-core);
}

:where(a) {
  text-decoration: none;
}

:where(a:hover:not(.no-underline)) {
  text-decoration: underline;
}

.on-page-anchor {
  scroll-margin-top: 72px;
}

@media (min-width: 820px) {
  .on-page-anchor {
    scroll-margin-top: 84px;
  }
}

.button {
  border: 0px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 0px;
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  flex-shrink: 0;
  background-color: var(---color-bg);
}

.button:not(:disabled) {
  cursor: pointer;
}

.button.primary {
  ---color-bg: var(--color-cobalt-core);
  color: rgb(255, 255, 255);
}

.button.primary:not(:disabled):focus,
.button.primary:not(:disabled):hover {
  ---color-bg: var(--color-cobalt-deep);
}

.button.primary:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-background), 0 0 0 4px var(---color-bg);
}

.button.primary.arrow {
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' fill='none' stroke='%23fff'%3E%3Cpath d='M5.72 10 10 5.5m0 0L5.72 1M10 5.5H1'/%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 20px center;
  transition: background-position 0.13s ease-out 0s;
  padding: 11px 39px 11px 20px !important;
}

.button.primary.arrow:hover {
  background-position: right 16px center;
}

code,
pre {
  font-family: var(--font-family-mono), ui-monospace, Menlo, Courier, monospace;
}

.f-w-700 {
  font-weight: 700;
}

.f-w-600 {
  font-weight: 600;
}

.f-w-500 {
  font-weight: 500;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-300 {
  font-weight: 300;
}

.l-h-1-1 {
  line-height: 1.1;
}

.color-grey-50 {
  color: var(--color-grey-50);
}

.color-midnight {
  color: var(--color--midnight);
}

.color-cobalt-40 {
  color: var(--color-cobalt-40);
}

.text-cobalt-core {
  color: var(--color-cobalt-core);
}

.text-cobalt-70 {
  color: var(--color-cobalt-70);
}

.text-cobalt-deep {
  color: var(--color-cobalt-deep);
}

.text-grey-60 {
  color: var(--color-grey-60);
}

.text-grey-70 {
  color: var(--color-grey-70);
}

.text-energy {
  color: var(--color-energy);
}

.text-poppy {
  color: var(--color-poppy);
}

.uppercase {
  text-transform: uppercase;
}

.font-sans {
  font-family: var(--font-family);
}

.font-serif {
  font-family: var(--font-family-serif);
}

.mono {
  text-transform: uppercase;
  font-family: var(--font-family-mono) !important;
}

.hide {
  display: none !important;
}

.opacity-0 {
  opacity: 0;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.disclaimer {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.3px;
}

.eyebrow {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0px !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  white-space: nowrap !important;
}

.blog-post blockquote {
  border-left: 3px solid var(--color-cobalt-core);
  padding-left: 30px;
  margin-bottom: 45px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.25;
  max-width: none;
}

.blog-post {
  max-width: 792px;
  padding: 48px;
  margin: 0px auto;
  width: 100%;
  container: blog-post / inline-size;
}

@media screen and (max-width: 820px) {
  .blog-post {
    padding: 24px 16px;
    border: 0px;
    max-width: 100%;
  }
}

.blog-post h1 {
  font-size: 45px;
  letter-spacing: -0.07rem;
  color: var(--color-midnight);
  font-family: var(--font-family-serif);
}

.blog-post h2 {
  font-size: 35px;
  margin-top: 48px;
}

.blog-post h2,
.blog-post h3 {
  color: var(--color-midnight);
  font-weight: 500;
  margin-bottom: 8px;
}

.blog-post h3 {
  font-size: 28px;
  margin-top: 24px;
}

.blog-post h4 {
  font-size: 24px;
  color: var(--color-midnight);
  margin-bottom: 8px;
  margin-top: 32px;
  font-weight: 500;
}

.blog-post h5 {
  font-size: 45px;
  letter-spacing: -0.07rem;
  color: var(--color-midnight);
}

.blog-post :is(h2, h3, h4, h5) strong {
  font-weight: inherit;
}

.blog-post ol,
.blog-post ul {
  margin-bottom: 16px;
}

.blog-post ol ol {
  list-style-type: lower-alpha;
}

.blog-post ol ol ol {
  list-style-type: lower-roman;
}

.blog-post table ol,
.blog-post table ul {
  margin: 0px;
  padding-left: 1.5rem;
}

.blog-post > p > .button {
  display: inline-block;
  margin-top: 12px;
}

.blog-post .blog-aside,
.blog-post pre {
  background-color: var(--color-cobalt-1);
  margin: 32px -48px;
  padding: calc(48px - var(--font-size)) 48px;
}

.blog-post pre {
  font-size: 1rem;
  white-space: pre-wrap;
}

.blog-post code {
  font-size: inherit;
  padding: 0px 0.375em;
  border-radius: 4px;
  background-color: var(--color-cobalt-1);
}

.blog-post hr {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-image: initial;
  border-bottom: 2px solid var(--color-cobalt-5);
  margin: 32px auto;
}

.blog-post .blog-aside h3:first-child,
.blog-post .blog-aside h4:first-child {
  margin-top: 0px;
}

.blog-post .blog-aside h4 {
  font-size: 20px;
  color: var(--color-midnight);
}

.blog-post .blog-aside p {
  font-size: 18px;
  color: var(--color-midnight);
}

.blog-post .blog-aside cite {
  font-style: normal;
  color: var(--color-grey-50);
}

.blog-post .blog-aside cite a {
  color: inherit;
}

.blog-post .blog-aside li:last-child,
.blog-post .blog-aside p:last-child {
  margin-bottom: 0px;
}

.blog-aside + table {
  margin-top: -32px;
}

.blog-post .table-wrapper {
  width: calc(100% + 96px);
  margin-bottom: 32px;
  margin-left: -48px;
  margin-right: -48px;
  border: 1px solid var(--color-cobalt-20);
}

.blog-post table {
  border-collapse: collapse;
}

.blog-post table thead {
  border-bottom: 1px solid var(--color-cobalt-20);
}

.blog-post table th {
  text-align: left;
  color: var(--color-midnight);
}

.blog-post table td,
.blog-post table th {
  color: var(--color-midnight);
  padding: 20px;
  vertical-align: top;
}

.blog-post table td:first-child,
.blog-post table th:first-child {
  padding-left: 48px;
}

.blog-post table td:last-child,
.blog-post table th:last-child {
  padding-right: 48px;
}

.blog-post tr:nth-child(2n + 1) td {
  background-color: var(--color-cobalt-1);
}

.blog-post figcaption {
  color: var(--color-grey-50);
  font-size: 14px;
  margin: 0px auto 32px;
  padding: 2px 12px;
  width: fit-content;
}

.padded-box {
  --padded-box: 48px;
  padding: var(--padded-box);
}

@media screen and (max-width: 820px) {
  .padded-box {
    --padded-box: 24px;
  }
  .table-wrapper {
    overflow-x: auto;
  }
  .blog-post .blog-aside,
  .blog-post .blog-post-full-bleed-image,
  .blog-post .stylized-quote,
  .blog-post .table-wrapper,
  .blog-post pre {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
  }
  .blog-post table td:first-child,
  .blog-post table th:first-child {
    padding-left: 16px;
  }
  .blog-post table td:last-child,
  .blog-post table th:last-child {
    padding-right: 16px;
  }
  .blog-post .blog-aside {
    margin-bottom: 16px;
    padding: 24px 16px;
  }
}

.merkinball {
  background: linear-gradient(rgb(247, 249, 255), rgb(255, 251, 243) 90%);
}

article .youtube {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

article .youtube iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.hs-input:not([type="checkbox"]) {
  appearance: none;
}

.hs-input {
  width: 100%;
  color: var(--color-midnight);
  outline: none;
  font-family: var(--font-family);
  background-color: var(--color-white);
  border: 1px solid var(--color-cobalt-30);
  border-radius: 0px;
  font-size: 20px;
  line-height: 1.3;
  padding: 12px 10px;
}

.hs-input:focus {
  border-color: var(--color-cobalt-core);
  outline: none;
}

.hs-input::placeholder {
  color: var(--color-grey-30);
}

.hs-fieldtype-text,
.hs-form-field {
  position: relative;
  color: var(--color-cobalt-100);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hs-form-field label[id] {
  position: absolute;
  left: 8px;
  font-size: 12px;
  transform: translateY(-50%);
  padding-inline: 4px;
  background-color: var(--color-white);
  color: var(--color-midnight);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
}

.hs-error-msgs,
.hs-main-font-element {
  padding: 0px;
  list-style-type: none;
  margin-top: 5px;
}

.hs-error-msgs li {
  margin: 0px;
  line-height: 1;
}

.hs-error-msg {
  color: var(--color-sun);
  font-size: 14px;
}

.hs-richtext p {
  margin: 0px;
  font-size: 14px;
  color: var(--color-grey-70);
  line-height: 1.5;
}

.hs-richtext a {
  color: var(--color-cobalt-core) !important;
}

.cookie-reset-container a {
  margin-left: 5px;
  cursor: pointer;
}

.hs-form.stacked {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hs-form fieldset {
  display: contents;
  padding: 0px;
  border: 0px;
}

@media (min-width: 520px) {
  .hs-form fieldset.form-columns-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 24px;
  }
}

.hs-form .input select {
  appearance: none;
  border-radius: 0px;
  padding-right: 38px;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5 8.5L12.5 15.5L5.5 8.5' stroke='%238494c3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
    no-repeat right 8px center/22px var(--color-white);
  width: 100% !important;
}

.hs-form fieldset.form-columns-1 textarea.hs-input {
  padding: 10px;
}

li.hs-form-booleancheckbox::marker {
  color: transparent;
}

.hs-form-booleancheckbox label {
  display: flex;
  color: var(--color-cobalt-100);
}

.hs-form .inputs-list {
  padding: 0px;
}

.hs-form-booleancheckbox input {
  width: 30px;
  margin-right: 16px;
  appearance: revert;
  margin-bottom: 0px;
  accent-color: var(--color-cobalt-core);
}

ul[data-type] {
  padding-left: 0px;
  list-style: none;
}

ul[data-type] li {
  display: flex;
  column-gap: 8px;
}

ul[data-type] li::before {
  --size: 20px;
  content: "";
  display: block;
  flex-shrink: 0;
  margin-top: 4px;
  width: var(--size);
  height: var(--size);
  background-image: var(--icon);
  background-size: var(--size);
  background-position: 50% center;
  background-repeat: no-repeat;
}

@supports ((-webkit-mask-image: url(#mask)) or (mask-image: url(#mask))) {
  ul[data-type] li::before {
    mask-image: var(--icon);
    mask-size: var(--size);
    mask-position: center center;
    mask-repeat: no-repeat;
    background-image: none;
    background-color: var(--color-cobalt-core);
  }
}

ul[data-type="ArrowRight"] {
  --icon: url(/icons/ArrowRight.svg);
}

ul[data-type="CircleCheckmark"] {
  --icon: url(/icons/CircleCheckmark.svg);
}
