.navbar {
  display: flex;
  position: fixed;
  background: #ffffff;
  color: #1e1e1e;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  height: 2.75rem;
  top: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}

.logo img {
  height: 32px; /* Adjust height as needed */
}

.menu-toggle {
  cursor: pointer;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  width: 70%; /* Adjust width as needed */
  height: 100vh;
  flex-direction: column;
}
v .logo-mhu {
  width: 2rem;
  height: 2rem;
}

.ic-menu {
  height: 2rem;
  width: 2rem;
}

.menu.show-menu {
  display: flex;
}

.menu li {
  margin-bottom: 1rem;
}

.menu a {
  color: #1e1e1e;
  text-decoration: none;
}

@media (min-width: 769px) {
  .menu {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    flex-direction: row;
  }

  .menu-toggle {
    display: none;
  }
}
