@use "@abstracts/all-abstracts" as *;

.route-2-low-fidelity-all_grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: space(4);
  max-width: 55rem;
  margin: auto;
  margin-bottom: space(6);

  img {
    border-radius: 0.5rem;
    border: 1px solid $off-black;
    width: 100%;
  }
}

.r2-lowfi-design-evolution_grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2.5rem 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "a . . b ."
    "c d e f g";
  align-items: center;
  column-gap: space(3);
  margin: auto;
  max-width: $content-max-width;

  .lowfi-design-evolution_heading-01 {
    grid-area: a;
    margin-bottom: space(2);
    font-size: text(base);
  }

  .lowfi-design-evolution_heading-02 {
    grid-area: b;
    margin-bottom: space(2);
    font-size: text(base);
  }

  .img-1 {
    grid-area: c;
  }

  .img-2 {
    grid-area: d;
  }

  > .img-design-evolution-arrow {
    grid-area: e;
  }

  .img-3 {
    grid-area: f;
    border: 1px solid $black;
  }

  .img-4 {
    grid-area: g;
    border: 1px solid $black;
  }

  img {
    width: 100%;
  }
}

.img-design-evolution-arrow {
  width: 2.5rem;
  height: fit-content;
}
