@use "@abstracts/all-abstracts" as *;

.interview-quotes {
  > .interview-quotes_img-quotation-mark {
    margin: 0;
    margin-bottom: space(4);
  }

  .interview-quotes_grid-item {
    grid-template-columns: 3fr 7fr;
    gap: space(6);

    &.quote-flex-col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &.item-1 {
      padding-top: 0 !important;
    }

    &.item-6 {
      padding-bottom: 0;
    }
  }

  .blockquote_content {
    background-color: transparent;
  }
}
