@use "@abstracts/all-abstracts" as *;
@use "tastebuds" as *;

.img-user-persona {
  border: 1px solid $light-grey;
  border-radius: 2px;
  width: 100%;
}

.user-persona_container {
  display: grid;
  grid-template-columns: 2.25rem auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "a b" "c c";
  justify-content: center;
  align-items: center;
  row-gap: space(2);
  margin-bottom: space(4) !important;
}

.user-persona_icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  grid-area: a;
  margin-left: space(3);
}

.user-persona_content {
  background-color: $lightest-grey;
  padding: space(4);
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  grid-area: c;

  p:last-child {
    margin-bottom: 0;
  }

  span {
    font-weight: 500;
    color: $emphasis-blue;
  }
}

.user-persona_title {
  display: none;
  font-weight: 500;
  color: $emphasis-blue;
  font-size: 1rem;
  grid-area: b;
  margin-bottom: 0;
  margin-left: space(3);
}

@include breakpoint(med) {
  .user-persona_container {
    grid-template-columns: 3rem auto;
    grid-template-areas: ". b" "a c";
    column-gap: space(4);
    align-items: end;
    margin-bottom: space(2) !important;
    transform: translateX(-4rem);
  }

  .user-persona_icon {
    width: 3rem;
    height: 3rem;
    margin-left: 0;
  }

  .user-persona_content {
    width: calc(100% + 4rem);
  }
}

.user-persona_tabs.tabs-container {
  margin-top: space(4);
  margin-bottom: space(8);

  @include breakpoint(med) {
    margin-top: space(12);
  }

  .tabs-menu {
    margin-left: auto;
    margin-right: auto;
  }

  .total-satisfaction-method {
    margin-top: space(8);
  }
}
