@use "@abstracts/all-abstracts" as *;

$tab-border-radius: 3rem;
$tab-button-height: 2.5rem;
$tabs-menu-height: 3rem;
$tab-menu-padding: 0.25rem;

.tabs {
	&-container {
		width: 95dvw;
		max-width: $content-max-width;
		margin: space(8) auto 0;
	}

	&-menu {
		display: flex;
		align-items: center;
		position: relative;
		background-color: $light-grey;
		padding: $tab-menu-padding;
		overflow: hidden;
		width: 100%;
		height: $tabs-menu-height;
		border-radius: $tab-border-radius;

		//
		&.two-menu-items .tabs-menu-slider,
		&.two-menu-items .tab-button {
			width: 50% !important;
		}

		&.three-menu-items .tabs-menu-slider,
		&.three-menu-items .tab-button {
			width: 33.3333% !important;
		}

		&.four-menu-items .tabs-menu-slider,
		&.four-menu-items .tab-button {
			width: 25% !important;
		}
	}

	&-menu-slider {
		position: absolute;
		border-radius: $tab-border-radius;
		height: calc($tabs-menu-height - $tab-menu-padding * 2);
		background-color: white;
		border-radius: $tab-border-radius;
		box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
		width: 25%;
		transition: left 0.3s ease;
	}
}

// Tab content
.tab {
	&-subheading {
		font-weight: 500;
		letter-spacing: 0;
		line-height: 130%;
		color: $black;
		font-size: $text-lg;
	}

	&-content {
		display: none;
		padding: space(8) space(4) 0 space(4);

		> div,
		blockquote {
			margin-bottom: space(8);
		}

		> :last-child {
			margin-bottom: 0;
		}

		&.active {
			display: block;
		}
	}

	&-button {
		cursor: pointer;
		@extend %flex-row;
		align-items: center;
		justify-content: center;
		gap: space(3);
		width: 25%;
		height: $tab-button-height;
		border: none;
		border-radius: $tab-border-radius;
		background-color: transparent;
		transition:
			transform 0.3s ease,
			background-color 0.3s ease;
		position: relative;
		z-index: 2;

		p,
		span {
			text-align: center;
			font-weight: 400;
			color: $dark-grey;
			font-size: $text-md;
			position: relative;
			z-index: 2;
			margin: 0;
			width: fit-content;
			transition:
				font-weight 0.3s ease,
				color 0.3s ease;
		}

		&.active > p,
		&.active > span {
			color: $black;
			font-weight: 500;
		}

		&:hover p,
		&:hover span {
			color: $black;
			font-weight: 500;
		}
	}

	&-content-grid {
		display: grid;
		align-items: center;
		gap: space(8);
		width: 100%;
		margin-bottom: space(8);

		img {
			margin: 0;
			width: 100%;
		}

		p {
			margin-bottom: space(2);

			&:last-child {
				margin: 0;
			}
		}
	}

	@include breakpoint(med) {
		&-content-grid {
			grid-template-columns: 1fr 3fr;
			grid-template-rows: auto;
		}

		&-content {
			padding: space(8) space(4) 0 space(4);
		}

		&-button {
			p {
				font-size: $text-lg;
			}
		}
	}
}

.img-sketch-filters {
	align-self: auto;
	border-bottom: 2px solid $black;
	flex: 0 auto;
	max-width: 221px;
}
