$progress-bar-height: 6px;

#progress-bar-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: #f9f9f9;
    height: $progress-bar-height;
    width: 100vw;
    z-index: 2000;
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: $progress-bar-height;
    background-color: #076261;
    transition: width 0.25s ease;
}

$back-to-top-default-color: #4a4a4a;
$back-to-top-hover-color: #28282D;