figure.video-container {
	width: 100%;
	max-width: 20rem;
	border: 1px solid black;
	display: flex;
	margin: 0 !important;
	overflow: hidden;
	position: relative;
	aspect-ratio: 16 / 9;
}

// video {
//   width: 100%;
//   z-index: 1;
//   cursor: pointer;
// }

.controls {
	opacity: 0;
	background: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	transition: opacity 0.3s ease;
}

.controls[data-state="hidden"] {
	display: none;
}
.controls[data-state="visible"] {
	display: flex;
	opacity: 1;
}

.controls > * {
	width: 3.90625%;
	height: 100%;
	margin-left: 0.1953125%;
}

.controls > *:first-child {
	margin-left: 0;
}

.controls .progress {
	cursor: pointer;
	width: 75.390625%;
	position: relative;
}

.controls button {
	text-indent: -99999px;
	overflow: hidden;
	border: none;
	cursor: pointer;
	background: transparent no-repeat center/contain;
}

.controls button:hover,
.controls button:focus {
	opacity: 0.5;
}

.controls button[data-state="play"] {
	background-image: url("../../assets/svg/ic-play-video-arrow.svg");
}
.controls button[data-state="pause"] {
	background-image: url("../../assets/svg/ic-pause-video.svg");
}
.controls button[data-state="stop"] {
	background-image: url("../../assets/svg/ic-stop-video.svg"); // Replace with your stop icon
}
.controls button[data-state="mute"],
.controls button[data-state="unmute"],
.controls button[data-state="volup"],
.controls button[data-state="voldown"],
.controls button[data-state="go-fullscreen"],
// .controls button[data-state="cancel-fullscreen"] {
// 	background-image: url("..."); // Set appropriate icons
// }

.controls progress {
	width: 100%;
	height: 0.8125rem;
	border: none;
	overflow: hidden;
	border-radius: 2px;
	background: #e6e6e6;
	color: #0095dd;
}

.controls progress span {
	width: 0%;
	height: 100%;
	display: inline-block;
	background-color: #2a84cd;
}

.controls progress::-moz-progress-bar {
	background-color: #0095dd;
}
.controls progress::-webkit-progress-value {
	background-color: #0095dd;
}

// Fullscreen
:fullscreen {
	width: 100%;
	background-color: #000;
}

figure[data-fullscreen="true"] {
	max-width: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	max-height: 100%;
}

figure[data-fullscreen="true"] video {
	height: auto;
}

figure[data-fullscreen="true"] figcaption {
	display: none;
}

figure[data-fullscreen="true"] .controls {
	bottom: 2%;
	width: 100%;
	position: absolute;
	z-index: 2147483647;
	flex-wrap: wrap;
	gap: 0.5rem;
}

figure[data-fullscreen="true"] .controls li {
	width: 5%;
}
figure[data-fullscreen="true"] .progress {
	width: 68%;
}

// Media Queries
@media screen and (max-width: 1024px) {
	figure {
		padding: 0;
		height: auto;
	}
	.controls {
		height: 1.876rem;
	}
}

@media screen and (max-width: 42.5em) {
	.controls {
		flex-wrap: wrap;
		height: auto;
		padding: 0.5rem;
	}
	.controls > * {
		width: 48%;
		margin-left: 0;
		height: 2.5rem;
		margin-top: 2.5rem;
	}
	.controls .progress {
		width: 100%;
		position: relative;
		margin-top: 0;
	}
	.controls .progress progress {
		width: 98%;
		margin: 0 auto;
	}
	figcaption {
		text-align: center;
		margin-top: 0.5rem;
	}
}
