@use "@abstracts/breakpoints-mixins" as *;
@use "@abstracts/flexbox-mixins" as *;
@use "@abstracts/variables" as *;

$card-font-color: $black;

// Stashed features
.stashed-features {
	&_wrapper {
		cursor: grab;
		@include flex(row, 0.5rem);
		margin: 2rem auto;
		width: 90vw;

		overflow-x: scroll;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		cursor: default;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		@include breakpoint(lg) {
			width: 100%;
			max-width: 78rem;
			align-items: center;
			justify-content: center;
			overflow: visible;
			cursor: default;
		}
	}

	&_grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 1rem;
		max-width: none;
		width: 100%;

		@include breakpoint(xl) {
			margin: 0 auto;
			justify-self: center;
			align-self: center;
			overflow: visible;

			li:last-child {
				margin: 0;
			}
		}
	}

	&_carousel-nav-arrow_wrapper {
		display: flex;
		gap: 1rem;
		list-style-type: none;
		justify-content: flex-end;
		flex-direction: row;
		list-style-type: none;

		li {
			padding: 0;
			transform: none;
			width: fit-content;
		}

		@include breakpoint(lg) {
			display: none;
		}
	}

	&_carousel-nav-arrow {
		width: 3rem;
		height: 3rem;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background-color: $light-grey !important;
		transition: opacity 0.3s ease-in-out;

		@include breakpoint(med) {
			width: 3.25rem;
			height: 3.25rem;
		}

		&:hover {
			background-color: #e0e0e0 !important;
		}

		&:active {
			background-color: #d0d0d0 !important;
		}
	}

	&-card {
		display: flex;
		flex-direction: column;
		padding: 1.5rem;
		border-radius: 1rem;
		position: relative;
		overflow: hidden;
		scroll-snap-align: center;
		scroll-snap-stop: always;
		background-color: $lightest-grey;
		height: 100%;
		aspect-ratio: 7/6;

		&.last-child {
			margin-right: 5vw;
		}

		&_icon-wrapper {
			width: 1.5rem;
		}

		&_icon-wrapper {
			width: 2rem;
			height: 2rem;
			margin-bottom: 1rem;

			@include breakpoint(med) {
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0.5;
				z-index: 1;
				-webkit-text-size-adjust: 100%;
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				bottom: 1rem;
				right: 1rem;
				width: 8rem;
				height: 8rem;
				position: absolute;
			}
		}

		img {
			height: 100%;
			margin: auto;
		}

		&_content {
			width: 100%;
			z-index: 2;

			@include breakpoint(med) {
				margin: auto;
			}
		}

		&_heading {
			font-size: 1.25rem;
			font-weight: 500 !important;
			margin-bottom: 0.5rem;
			color: $card-font-color !important;

			@include breakpoint(med) {
				font-size: 1.5rem;
			}
		}

		&_body {
			display: flex;
			font-size: 1.125rem;
			color: $card-font-color !important;
			margin-bottom: 0;
		}

		@include breakpoint(lg) {
			padding: 2rem;

			&.first-child,
			&.last-child {
				margin: 0;
			}
		}
	}
}
