@use "@abstracts/all-abstracts" as *;

.list-research-materials {
  margin-bottom: space(6);
}

.research-slidedeck {
  max-width: 26.6rem;
  width: 100%;

  iframe {
    max-width: 26.6rem;
  }
}

.interview-quotes {
  margin: space(8) auto;

  figure {
    margin: 0 0 space(8) 0;
  }

  @include breakpoint(med) {
    margin-bottom: space(12);
  }
}

.interview-quote-01,
.interview-quote-02 {
  margin-bottom: space(8);
}

.image-width-large {
  width: 90%;
  max-width: 52.5rem;
  margin: 0 auto;
}

.monday-last-container {
  margin-top: space(16);
}

@include breakpoint(lg) {
  .interview-quotes .grid-container {
    margin-bottom: space(16);
  }
}

.user-persona-comparison {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 90vw !important;
  max-width: 96rem;
  margin: 0 auto;
  position: relative;
  gap: space(4);

  @include breakpoint(med) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }

  p {
    &:first-of-type {
      color: $medium-grey;
    }

    &:last-of-type {
      color: $black;
    }
  }
}
