@use "@abstracts/all-abstracts" as *;

// Wednesday
.postup-full-storyboard {
  margin-bottom: space(8);
}

.storyboarding-content {
  display: block;
  max-width: $content-max-width;
  width: 90vw;
  margin: auto;
  align-items: flex-start;

  :last-child {
    margin-bottom: 0;
  }
}
