// $primary-color: #076261;
@use "@abstracts/all-abstracts" as *;

$super-light-grey: #fafafa;

.project-hero {
	background-color: #80ada1 !important;
}

#overview {
	background-color: transparent;
}

#the-constraints {
	background-color: $lightest-grey;
}

#final-prototype {
	background-color: $lightest-grey;
	border: 0;
}

#the-solution.content-full-width {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@include breakpoint(med) {
		gap: 2.5rem;
	}

	@include breakpoint(lg) {
		gap: 3rem;
	}
}

// .navbar-top {
//     position: fixed;
//     width: 100%;
//     transition: background-color 0.1s ease-in;
// }
//
// .default-nav-color {
//     background-color: transparent;
// }
//
// .postup-hero-nav-color {
//     background-color: transparent;
// }
//
// .navbar-color-overview,
// .navbar-color-the-solution {
//     background-color: transparent;
// }
//
// .hero-overview-wrapper,
// // #intro,
// #hero,
// #overview,
// #the-challenge,
// #the-constraints,
// #the-solution,
// #research-process,
// // #monday,
// // #tuesday,
// // #wednesday,
// // #thursday,
// // #friday,
// #iterations-monetization,
// #final-prototype,
// #next-steps,
// #reflection,
// #conclusion,
// #thank-you {
//     display: none !important;
// }
