@use "@abstracts/all-abstracts" as *;

#research-process {
  header h2 {
    margin-bottom: 0;
  }
}

.design-sprint-graphic {
  margin: space(8) auto space(6) auto;

  img {
    width: 100%;
  }

  @include breakpoint(med) {
    margin: space(4) auto space(8) auto;
  }
}
