// About me

#about {
	background-color: #f8f8f8; // Example background color

	.section-heading {
		margin: auto;
		margin-bottom: 2rem;
	}
}

.about_wrapper {
	display: flex;
	flex-direction: column;
	width: 90vw;
	max-width: 40rem;
	margin: auto;
}

.about_portrait-wrapper {
	display: flex;
	width: 100%; // Ensures the container takes up the full width of its parent
	overflow: hidden; // Prevents any overflow (optional based on your design needs)
	border-radius: 1px;
	justify-content: center;

	img {
		display: block; // Removes any space below the image
		width: 100%; // Makes the image take up 100% of the container's width
		height: auto; // Maintains the image's aspect ratio initially
		aspect-ratio: 1 / 1; // Ensures the image remains square
	}
}

.about-details_wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(6, 1fr);
	gap: 1.5rem;
	margin-top: 2.5rem;
	align-items: start;
	justify-content: start;
}

.about-details_grid-container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto; /* Automatic row sizing based on content */
	column-gap: 1.5rem;
	row-gap: 0.25rem;
	grid-template-areas: "a b" "a c";
	align-items: center;
	justify-content: center;

	&:last-child {
		margin-bottom: 0;
	}

	.grid-item-01 {
		display: flex;
		align-items: center;
		justify-content: center;
		grid-area: a;
		img {
			width: 1.5rem;
			height: 1.5rem;
			fill: #1e1e1e;
		}
	}

	.grid-item-02 {
		grid-area: b;

		p {
			color: $medium-grey;
			font-family: Inter;
			font-size: 0.6875rem;
			font-style: normal;
			font-weight: 600;
			line-height: 100%; /* 0.6875rem */
			letter-spacing: 0.04125rem;
			text-transform: uppercase;
			margin-bottom: 0;
		}
	}

	.grid-item-03 {
		grid-area: c;

		p {
			color: $off-black;
			font-family: Inter;
			font-size: 1rem;
			font-style: normal;
			font-weight: 500;
			line-height: 125%; /* 1.09375rem */
			margin-bottom: 0;
		}
	}
}

@include breakpoint(med) {
	#about {
		padding: 5rem 0;
	}
	.about_wrapper {
		display: grid;
		grid-template-columns: 1fr 1.25fr;
		max-width: 80rem;
		gap: 4rem;
		align-items: center;
	}

	.about_portrait-wrapper {
		border-radius: 3px;
		img {
			width: 110%;
			height: fit-content;
		}
	}

	.about_content-wrapper {
		max-width: $content-max-width;
	}

	.about-details_wrapper {
		grid-template-columns: auto auto;
		grid-template-rows: repeat(3, 1fr);
		column-gap: 3rem;
		row-gap: 1.5rem;
	}

	.about-details_grid-container {
		row-gap: 0.5rem;
		.grid-item-01 img {
			width: 1.75rem;
			height: 1.75rem;
		}

		.grid-item-02 p {
			font-size: 0.8125rem;
		}

		.grid-item-03 p {
			font-size: 1rem;
		}
	}
}
