@use "../abstracts/all-abstracts" as *;
@use "../../components/NavBar/NavBar" as *;

// Variables
$hero-icon-button-size: 2rem;
$hero-buttons-gap-bp-med: 1rem;
$hero-icon-button-size-bp-med: 2.25rem;
$hero-buttons-gap-bp-lg: 1rem;
$hero-icon-button-size-bp-lg: 2.25rem;
$hero-buttons-gap-bp-xl: 1rem;
$hero-icon-button-size-bp-xl: 3rem;

// Keyframes
@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(1.25);
		opacity: 0.7;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

// Hero section
.hero {
	display: flex;
	background-color: white;
	width: 100vw;
	margin: $navbar-mobile-height auto 1rem auto;
	border-radius: 4px;
}

.hero-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, auto);
	grid-template-areas: 'a' 'b';
	width: 90vw;
	margin: auto;
	align-items: center;
	gap: 1.5rem;
	justify-content: center;
	transition: align-items 0.3s ease-in-out;
}

.hero-image-wrapper {
	grid-area: a;
	display: flex;
	overflow: hidden;
	width: 100vw;
	height: 55vh;
	justify-self: center;
}

.img-hero {
	display: flex;
	overflow: hidden;
	margin-bottom: 0;
	width: 100%;
	object-fit: cover;
}

.hero-content {
	grid-area: b;
	display: flex;
	width: 90vw;
	flex-direction: column;
	background-color: white;
	justify-self: center;
}

.hero-content-wrapper {
	display: flex;
	flex-direction: column;
}

.hero-headline {
	color: $black;
	font-family: Inter;
	font-size: clamp(2.125rem, 5.5vw, 4rem) !important;
	font-weight: 550;
	margin-bottom: 0.5rem;
	width: 100%;
	letter-spacing: -0.01rem;
	line-height: 125%;
	max-width: 26rem;
	text-wrap: nowrap;
}

.hero-tagline-buttons-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: fit-content;
}

.hero-intro {
	color: $off-black;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 155%;
	margin-bottom: 0;
}

.hero-intro-highlight {
	color: $teal-accent;
	font-weight: 500;
}

.hero-tagline {
	color: #757575;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 140%;
	margin-bottom: 0;
}

.work-location-wrapper,
.work-availability-wrapper {
	display: none;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem !important;
	font-weight: 450;
	line-height: 130%;

	p {
		margin-bottom: 0;
		text-wrap: nowrap;
		color: #888;
	}

	.text-work-availability {
		color: $teal-accent;
	}
}

.work-location-wrapper {
	margin-bottom: 0.5rem;
}

.green-dot {
	width: 8px;
	height: 8px;
	background-color: #2Fa89F;
	border-radius: 50%;
	display: inline-block;
	animation: pulse 2.5s infinite;
	box-shadow: 0px 0px 8px rgba(32, 217, 198, 0.75);
	margin-left: 0.15rem;
}

// Hero compact buttons - buttons v2 - minimalistic
.hero-buttons-compact-wrapper {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;

	>a {
		font-weight: 500;
		color: $teal-accent;
	}
}

.hero-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	max-width: 90vw;
	margin: 0 auto;
	margin-top: 2rem;
}

.hero-large-buttons-wrapper,
.icon-buttons-wrapper {
	display: none !important;
	gap: 0.5rem;
	align-items: center;
	align-self: stretch;
}

.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	width: $hero-icon-button-size;
	height: $hero-icon-button-size;
	padding: 0.5rem;
	margin: 0;
	background-color: $black;
	border: 0;
	overflow: hidden;
	box-shadow: none;
	cursor: pointer;
	transition: background-color 0.3s;

	img {
		display: flex;
		width: 100%;
		margin: auto;
	}

	&:hover {
		opacity: 0.85;
		background-color: $primary-color;

		img {
			width: 103%;
			height: 103%;
		}
	}

	&:hover:active {
		transition: background-color 0.3s;
	}

	&:active:focus {
		background-color: $large-button-active-color;
		transition: border 0.3s;
	}
}

// Breakpoints
@include breakpoint(mobile-lg) {
	.hero-image-wrapper {
		height: fit-content;
		align-items: center;
		justify-content: center;
	}
}

@include breakpoint(sm) {

	.work-location-wrapper,
	.work-availability-wrapper {
		display: flex;
	}
}

@include breakpoint(med) {
	.hero {
		padding-top: 6.5rem;
		margin: auto;
	}

	.hero-wrapper {
		width: 90vw;
		gap: 4rem;
		grid-template-rows: auto;
		grid-template-areas: 'b a';
	}

	.hero-headline {
		max-width: 34rem;
	}

	.hero-content {
		height: 100%;
		width: 100%;
	}

	.hero-image-wrapper {
		width: 100%;
		max-width: 30rem;
		border-radius: 5px;
	}

	.img-hero {
		transform: none;
		margin: 0 auto;
	}

	.hero-content {
		margin: 0;
	}

	.hero-buttons-wrapper {
		margin-top: 1rem;
		gap: 1rem;
	}

	.hero-large-buttons-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.5rem;
		align-items: center;
		width: fit-content;

		button,
		a {
			max-width: 100%;
		}
	}
}

@include breakpoint(lg) {
	.hero {
		margin-top: $navbar-desktop-height;
		padding-top: 3rem;
	}

	.hero-wrapper {
		gap: 4rem;
		align-items: start;
	}

	.hero-tagline {
		font-size: 1.35rem;
		letter-spacing: 0.01rem;
	}

	.work-availability-wrapper {
		gap: 0.75rem;
		font-size: 1.125rem;
	}

	.text-work-availability,
	.text-current-location,
	.text-slash {
		font-size: 1.2rem;
		line-height: 100%;
	}

	.hero-buttons {
		flex-direction: row;
		gap: calc($hero-buttons-gap-bp-med);
		align-items: center;
	}

	.hero-large-buttons-wrapper {
		gap: $hero-buttons-gap-bp-med;
		margin-bottom: 0;
	}

	.icon-buttons-wrapper {
		gap: calc($hero-buttons-gap-bp-med - 0.5rem);
	}

	.icon-button {
		width: $hero-icon-button-size-bp-med;
		height: $hero-icon-button-size-bp-med;
		border-radius: 4.5px;
	}
}

@include breakpoint(lg) {
	// .hero-wrapper {
	// 	align-items: center;
	// }

	.hero-headline {
		line-height: 110%;
		margin-bottom: 1.5rem;
		max-width: fit-content;
		letter-spacing: -0.125rem;
	}

	.hero-intro {
		font-size: 1.35rem;
		max-width: 40rem;
		line-height: 155%;
		margin-top: auto;
	}

	.hero-intro-highlight {
		font-size: 1.45rem;
	}

	.hero-tagline {
		width: fit-content;
		font-size: 1.85rem;
		letter-spacing: 0;
		max-width: 33rem;
	}

	.hero-taglines-wrapper,
	.hero-tagline-buttons-wrapper {
		width: fit-content;
	}

	.hero-tagline-buttons-wrapper {
		gap: 1.5rem;
	}

	.work-location-wrapper {
		font-size: 1.125rem;
		margin-bottom: 2rem;
	}
}

@include breakpoint(xl) {
	.hero {
		padding-top: 6rem;
	}

	.work-availability-wrapper {
		gap: 0.75rem;
	}

	.text-work-availability,
	.text-current-location,
	.text-slash {
		font-size: 1.25rem;
		line-height: 100%;
	}

	.hero-buttons {
		flex-direction: row;
		gap: calc($hero-buttons-gap-bp-med + 0.25rem);
		align-items: center;
		gap: $hero-buttons-gap-bp-lg;
		margin-top: 3rem;
	}

	.hero-large-buttons-wrapper {
		gap: $hero-buttons-gap-bp-lg;
	}

	.icon-buttons-wrapper {
		gap: $hero-buttons-gap-bp-lg;
	}

	.icon-button {
		width: $hero-icon-button-size-bp-lg;
		height: $hero-icon-button-size-bp-lg;
	}
}

@include breakpoint(xxl) {

	.text-work-availability,
	.text-current-location,
	.text-slash {
		line-height: 100%;
	}

	.hero-buttons {
		flex-direction: row;
		gap: calc($hero-buttons-gap-bp-med + 0.25rem);
		align-items: center;
	}

	.icon-button {
		width: $hero-icon-button-size-bp-xl;
		height: $hero-icon-button-size-bp-xl;
		border-radius: 6px;
		padding: 0.75rem;
	}
}

// About Hero Buttons
.ic-menu {
	background-image: url(../assets/svg/home/ic-menu.svg);
}