$hero-margin-top: 0rem;
$hero-margin-top: 0rem;
$hero-image-height: 45vh;

// Hero section
.hero {
	display: flex;
	background-color: white;
	border-bottom: 1px solid #dbdbdb;
	margin-top: $hero-margin-top;
}

.hero-wrapper {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin: auto;
	align-items: center;
}

.hero-image-wrapper {
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	width: 100vw;
	height: $hero-image-height;
}

.img-hero {
	transform: translateY(2rem);
	display: flex;
	width: 100%;
	overflow: hidden;
}

.hero-headline-mobile-wrapper {
	display: flex;
	flex-direction: column;
	padding: 5vw 0;
	justify-content: flex-end;
	justify-content: flex-end;
	position: absolute;
	top: $hero-margin-top;
	height: $hero-image-height;
	width: 90vw;
	margin: 0 auto;
}

.hero-headline-mobile-wrapper-top {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 0 auto;
	margin-top: 3rem;
	margin-bottom: 5vw;
	align-items: center;
}


.hero-headline-mobile-huge-black {
	line-height: 100% !important;
	text-transform: uppercase;
	font-weight: black;
	font-size: 12.5vw !important;
	text-align:
		center;
	width: 100%;
	-webkit-text-stroke-width: 1.75px;
	-webkit-text-stroke-color: black;
	letter-spacing: 1px;
	margin-bottom: 0;
	// position: absolute;
	// top: calc(35vh);
}

.hero-content {
	background-color: white;
	padding: 5vw 0;
}

.hero-content-wrapper {
	display: flex;
	flex-direction: column;
	width: 90vw;
	gap: 1rem;
}

.uppercase {
	text-transform: uppercase !important;
}

.hero-headline-mobile {
	color: var(--Colors-Off-Black, #1e1e1e);
	color: white;
	font-weight: 700;
	line-height: 115%;
	font-size: clamp(2.3rem, 4.15vw, 3.5rem) !important;
	font-size: 2rem !important;
	letter-spacing: -1px;
	width: fit-content;
	text-wrap: nowrap;
	margin-top: 0.5rem;
	// margin-bottom: 0.5rem;
	// position: absolute;
	// top: calc(35vh);
}

.hero-pronouns-mobile {
	color: var(--Colors-Off-Black, #1e1e1e);
	color: white;
	font-weight: 700;
	line-height: 115%;
	font-size: 2rem;
	letter-spacing: -1px;
	// margin-bottom: 0.5rem;
	// position: absolute;
	// top: calc(35vh);
}

.hero-headline-mobile-huge {
	color: var(--Colors-Off-Black, #1e1e1e);
	color: white;
	font-weight: 700;
	line-height: 115%;
	font-size: 3.5rem !important;
	letter-spacing: -1px;
	margin-bottom: 0;
	// position: absolute;
	// top: calc(35vh);
}

.hero-headline {
	color: var(--Colors-Off-Black, #1e1e1e);
	color: white;
	font-weight: 700;
	line-height: 130%;
	font-size: clamp(1.775rem, 4.15vw, 3.5rem) !important;
	letter-spacing: -1px;
	// margin-bottom: 0.5rem;
	// position: absolute;
	// top: calc(35vh);
}

.hero-headline-details {
	color: var(--Colors-Off-Black, #1e1e1e);
	font-weight: 600;
	margin-bottom: 0.5rem;
	line-height: 125%;
	letter-spacing: 0;
	font-size: clamp(1.5rem, 3.3vw, 2.8rem) !important;
}

.hero-tagline {
	color: $dark-grey;
	color: $forest-green;
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 0;
	-webkit-text-stroke-width: 0.25px;
	-webkit-text-stroke-color: $dark-grey;
}

.work-location-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.work-availability-wrapper {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}

.green-dot {
	width: 8px;
	height: 8px;
	background-color: #20d973;
	border-radius: 50%;
	display: inline-block;
	animation: pulse 2.5s infinite;
	box-shadow: 0px 0px 8px rgba(32, 217, 115, 0.75);
	margin-left: 0.15rem;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(1.25);
		opacity: 0.7;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.text-work-availability,
.text-current-location,
.text-slash {
	font-size: 0.875rem;
	margin-bottom: 0;
	line-height: 100%;
	font-style: normal;
	font-weight: 500;
	line-height: 135%;
}

.text-slash,
.text-current-location {
	color: $medium-grey;
	font-family: Inter;
}

.hero-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
}

.hero-large-buttons-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
	align-items: center;
	width: 100%;

	button {
		width: 100%;
	}
}

.icon-buttons-wrapper {
	display: flex;
	gap: 0.5rem;
	height: fit-content;
}

$hero-icon-button-size: 2rem;

.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	width: $hero-icon-button-size;
	height: $hero-icon-button-size;
	padding: 0.5rem;
	margin: 0;
	background-color: $black;
	border: 0;
	overflow: hidden;
	box-shadow: none;
	cursor: pointer;
	transition: background-color 0.3s;

	img {
		display: flex;
		width: 100%;
		margin: auto;
	}

	&:hover {
		opacity: 0.85;
		background-color: $primary-color;

		img {
			width: 103%;
			height: 103%;
		}
	}

	&:hover:active {
		transition: background-color 0.3s;
	}

	&:active:focus {
		background-color: $button-active-color;
		transition: border 0.3s;
	}
}

$hero-buttons-gap-bp-med: 1rem;
$hero-icon-button-size-bp-med: 2.25rem;

@include breakpoint(sm) {
	.hero {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.hero-wrapper {
		flex-direction: row-reverse;
		width: 90vw;
		gap: 1.5rem;
	}

	.hero-image-wrapper {
		display: flex;
		align-items: center;
		width: 35%;
		height: 100%;
	}

	.img-hero {
		transform: none;
		margin: 0 auto;
	}

	.hero-headline-mobile-wrapper {
		display: none;
	}

	.hero-content {
		width: 65%;
		margin-top: 0;
		padding: 0;
	}

	.hero-content-wrapper {
		width: 100%;
		gap: 1.5rem;
	}

	.hero-headline {
		position: relative;
		bottom: 0;
		margin-bottom: 0.5rem;
	}

	.hero-large-buttons-wrapper {
		display: flex;
		flex-direction: row-reverse;
		gap: 0.5rem;
		align-items: center;
		align-self: stretch;
	}
}



@include breakpoint(med) {
	.hero {
		padding-top: 2rem;
		padding-bottom: 4rem;
	}

	.hero-tagline {
		font-weight: 400;
		margin-top: 0.75rem;
		font-size: 1.25rem !important;
		line-height: 140%;
		/* 2.42919rem */
	}

	.work-location-wrapper {
		gap: 0.5rem;
	}

	.work-availability-wrapper {
		gap: 0.75rem;
	}

	.text-work-availability,
	.text-current-location,
	.text-slash {
		font-size: 1rem;
		line-height: 100%;
	}

	.hero-buttons {
		flex-direction: row;
		gap: calc($hero-buttons-gap-bp-med);
		align-items: center;
	}

	.hero-large-buttons-wrapper {
		gap: $hero-buttons-gap-bp-med;
		margin-bottom: 0;
	}

	.icon-buttons-wrapper {
		gap: calc($hero-buttons-gap-bp-med - 0.5rem);
	}

	.icon-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $hero-icon-button-size-bp-med;
		height: $hero-icon-button-size-bp-med;
		border-radius: 4.5px;
	}

}

@include breakpoint(med-lg) {
	.hero-wrapper {
		gap: 2rem;
	}

	.hero-content-wrapper {
		gap: 2rem;
	}

	//
	// 	.hero-headline {
	// 		font-size: 2.25rem !important;
	// 	}

	// .hero-headline-details {
	// 	font-size: 1.9rem !important;
	// }

	.hero-tagline {
		font-size: 1.55rem;
	}
}

@include breakpoint(lg) {
	.hero-wrapper {
		gap: 3rem;
	}

	//
	// 	.hero-headline {
	// 		font-size: 2.75rem !important;
	// 		margin-bottom: 0.5rem;
	// 	}

	// .hero-headline-details {
	// 	font-size: 2.5rem !important;
	// 	margin-bottom: 0.5rem;
	// }

	.hero-tagline {
		font-size: 1.45rem !important;
	}
}

$hero-buttons-gap-bp-lg: 1rem;
$hero-icon-button-size-bp-lg: 2.25rem;

@include breakpoint(xl) {
	.hero {
		padding-top: 3rem;
		padding-bottom: 5rem;
	}

	.hero-image-wrapper {
		width: 40%;
	}

	.hero-content {
		width: 60%;
	}

	// .hero-headline,
	// .hero-headline-details {
	// 	font-size: 3rem;
	// }

	.hero-tagline {
		font-size: 1.75rem;
		line-height: 140%;
		/* 2.42919rem */
		letter-spacing: -0.054rem;
	}

	.work-location-wrapper {
		gap: 0.5rem;
	}

	.work-availability-wrapper {
		gap: 0.75rem;
	}

	.text-work-availability,
	.text-current-location,
	.text-slash {
		font-size: 1.125rem;
		line-height: 100%;
	}

	.hero-buttons {
		flex-direction: row;
		gap: calc($hero-buttons-gap-bp-med + 0.25rem);
		align-items: center;
	}

	.icon-buttons-wrapper {
		gap: $hero-buttons-gap-bp-lg;
	}

	.icon-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $hero-icon-button-size-bp-lg;
		height: $hero-icon-button-size-bp-lg;
	}
}

$hero-buttons-gap-bp-xl: 1rem;
$hero-icon-button-size-bp-xl: 3rem;

@include breakpoint(xxl) {
	.hero {
		padding-top: 2rem;
		padding-bottom: 5rem;
	}

	.hero-content-wrapper {
		gap: 2rem;
	}

	.hero-content-wrapper {
		width: 100%;
		// gap: 2rem;
	}

	// .hero-headline,
	// .hero-headline-details {
	// 	font-size: 3.5rem;
	// }

	.hero-tagline {
		font-size: 2.4rem;
		line-height: 140%;
		/* 2.42919rem */
		letter-spacing: -0.024rem;
	}

	.work-location-wrapper {
		gap: 0.5rem;
	}

	.work-availability-wrapper {
		gap: 0.75rem;
		margin-bottom: 0.5rem;
	}

	.text-work-availability,
	.text-current-location,
	.text-slash {
		font-size: 1.25rem;
		line-height: 100%;
	}

	.hero-buttons {
		flex-direction: row;
		gap: calc($hero-buttons-gap-bp-med + 0.25rem);
		align-items: center;
	}

	.icon-button {
		width: $hero-icon-button-size-bp-xl;
		height: $hero-icon-button-size-bp-xl;
		border-radius: 6px;
		padding: 0.75rem;
	}
}

/* About Hero Buttons */

.ic-menu {
	background-image: url(../assets/svg/home/ic-menu.svg);
}