// Hero section
.hero-mobile-only {
	z-index: -1;
	position: fixed;
	top: 4rem;
	bottom: 0;
	width: 100vw;
	height: 45vh; // Fixed height
	padding: 0;
	margin: 0;
	overflow: hidden;

	.image-wrapper {
		position: relative;
		width: 90vw; // Takes the full width of the container
		margin: 0 auto;
		height: 45vh; // Fixed height
		border-radius: 3px;
		overflow: hidden;
		background-image: url(../assets/images/michelle-portrait-bw.png);
		background-position: bottom;
		background-size: cover;

		.hero-bg-mobile {
			bottom: 0;
		}
	}

	@include breakpoint(med) {
		display: none;

		.image-wrapper {
			display: none;
		}

		.hero-bg-mobile {
			display: none;
		}
	}
}

.hero {
	display: flex;
	background: white;
	border-bottom: 1px solid #dbdbdb;
}

.hero-wrapper {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin: auto;
	align-items: center;
	overflow: hidden;
}

.hero-image-wrapper {
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	width: 100%;
	height: 45vh;
}

.img-hero {
	display: flex;
	width: 100%;
}

.hero-content {
	background-color: white;
	padding: 1.75rem 0;
}

.hero-content-wrapper {
	display: flex;
	flex-direction: column;
	width: 90vw;
	gap: 1rem;
}

.hero-content-text-wrapper {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	.hero-position {
		font-size: 1.25rem;
		margin-bottom: 0.5rem;
	}

	.highlighted-text {
		font-size: 1.625rem; // Adjusted for typical h1 size
		line-height: 1.2; // Tighter line height for header

		span {
			padding: 0.1rem 0.6rem; // Adjust padding to better fit larger text
			background-repeat: no-repeat;
			background-size: 100% 100%; // Ensures the SVG background scales correctly
			color: black; // Ensures text color contrasts with background

			&.product-designer {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 287 29' fill='none'%3E%3Cpath d='M10.347 1.493C10.66 0.754 11.385 0.274 12.188 0.274H284.54c1.433 0 2.401 1.461 1.842 2.78l-10.169 24H2.02C0.587 28.274-0.381 26.812 0.178 25.493L10.347 1.493Z' fill='%237DFFE7'/%3E%3C/svg%3E");
			}

			&.frontend-developer {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 287 29' fill='none'%3E%3Cpath d='M10.347 1.493C10.66 0.754 11.385 0.274 12.188 0.274H284.54c1.433 0 2.401 1.461 1.842 2.78l-10.169 24H2.02C0.587 28.274-0.381 26.812 0.178 25.493L10.347 1.493Z' fill='%23FCFF67'/%3E%3C/svg%3E");
			}
		}
	}

	// .work-location-wrapper {
	// 	margin-bottom: 1rem;
	// }
}

.hero-headline {
	color: var(--Colors-Off-Black, #1e1e1e);
	font-weight: 600;
	line-height: 130%;
}

.hero-headline-details {
	color: var(--Colors-Off-Black, #1e1e1e);
	font-size: 1.55rem;
}

.hero-tagline {
	color: $dark-grey;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 130%;
}

.work-location-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 1.25rem;
}

.work-availability-wrapper {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}

.text-work-availability,
.text-current-location,
.text-slash {
	font-size: 0.875rem;
	margin-bottom: 0;
	line-height: 100%;
	font-style: normal;
	font-weight: 500;
	line-height: 135%;
}

.text-slash,
.text-current-location {
	color: $medium-grey;
	font-family: Inter;
}

.hero-buttons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

.hero-large-buttons-wrapper {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	align-self: stretch;
}

.icon-buttons-wrapper {
	display: flex;
	gap: 0.5rem;
	height: fit-content;
}

$hero-icon-button-size: 2rem;
.icon-button {
	border-radius: 4px;
	width: $hero-icon-button-size;
	height: $hero-icon-button-size;
	padding: 0.5rem;
	margin: 0;
	background-color: $black;
	border: 0;
	overflow: hidden;
	box-shadow: none;
	cursor: pointer;
	transition: background-color 0.3s;

	img {
		display: flex;
		width: 100%;
		margin: auto;
	}

	&:hover {
		opacity: 0.85;
		background-color: $primary-color;
	}

	&:hover:active {
		transition: background-color 0.3s;
	}

	&:active:focus {
		background-color: $button-focused-color;
		transition: border 0.3s;
	}
}

$hero-buttons-gap-bp-med: 1rem;
$hero-icon-button-size-bp-med: 2.25rem;

@include breakpoint(med) {
	.hero {
		padding-top: 2rem;
		padding-bottom: 4rem;
	}

	.hero-wrapper {
		flex-direction: row-reverse;
		width: 90vw;
		gap: 1.5rem;
	}

	.hero-image-wrapper {
		width: 35%;
		height: 100%;
	}

	.hero-content {
		width: 65%;
		margin-top: 0;
		padding: 0;
	}

	.hero-content-wrapper {
		width: 100%;
	}

	.hero-headline,
	.hero-headline-details {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}

	.hero-tagline {
		font-size: 1.25rem;
		line-height: 140%; /* 2.42919rem */
	}

	.work-location-wrapper {
		gap: 0.5rem;
	}

	.work-availability-wrapper {
		gap: 0.75rem;
	}

	.text-work-availability,
	.text-current-location,
	.text-slash {
		font-size: 1rem;
		line-height: 100%;
	}

	.hero-buttons {
		flex-direction: row;
		gap: calc($hero-buttons-gap-bp-med);
		align-items: center;
	}

	.hero-large-buttons-wrapper {
		gap: $hero-buttons-gap-bp-med;
		margin-bottom: 0;
	}

	.icon-buttons-wrapper {
		gap: calc($hero-buttons-gap-bp-med - 0.5rem);
	}

	.icon-button {
		width: $hero-icon-button-size-bp-med;
		height: $hero-icon-button-size-bp-med;
		border-radius: 4.5px;
	}
}

@include breakpoint(med-lg) {
	.hero-wrapper {
		gap: 2rem;
	}
	.hero-headline,
	.hero-headline-details {
		font-size: 2.25rem;
		margin-bottom: 1rem;
	}

	.hero-tagline {
		font-size: 1.55rem;
	}
}

@include breakpoint(lg) {
	.hero-headline,
	.hero-headline-details {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}

	.hero-tagline {
		font-size: 1.45rem;
	}
}

$hero-buttons-gap-bp-lg: 1rem;
$hero-icon-button-size-bp-lg: 2.25rem;

@include breakpoint(xl) {
	.hero {
		padding-top: 3rem;
		padding-bottom: 5rem;
	}

	.hero-image-wrapper {
		width: 40%;
	}

	.hero-content {
		width: 60%;
	}

	.hero-headline,
	.hero-headline-details {
		font-size: 2.75rem;
		margin-bottom: 1rem;
	}

	.hero-tagline {
		font-size: 1.75rem;
		line-height: 140%; /* 2.42919rem */
		margin-bottom: 2rem;
		letter-spacing: -0.054rem;
	}

	.work-location-wrapper {
		gap: 0.5rem;
		margin-bottom: -1rem;
	}

	.work-availability-wrapper {
		gap: 0.75rem;
		margin-bottom: 0.5rem;
	}

	.text-work-availability,
	.text-current-location,
	.text-slash {
		font-size: 1.125rem;
		line-height: 100%;
	}

	.hero-buttons {
		flex-direction: row;
		margin-top: 3rem;
		gap: calc($hero-buttons-gap-bp-med + 0.25rem);
		align-items: center;
	}

	.icon-buttons-wrapper {
		gap: $hero-buttons-gap-bp-lg;
	}

	.icon-button {
		width: $hero-icon-button-size-bp-lg;
		height: $hero-icon-button-size-bp-lg;
	}
}

$hero-buttons-gap-bp-xl: 1rem;
$hero-icon-button-size-bp-xl: 3rem;

@include breakpoint(xxl) {
	.hero {
		padding-top: 2rem;
		padding-bottom: 5rem;
	}

	.hero-headline,
	.hero-headline-details {
		font-size: 3.5rem;
		margin-bottom: 1rem;
	}

	.hero-tagline {
		font-size: 2.4rem;
		line-height: 140%; /* 2.42919rem */
		margin-bottom: 2rem;
		letter-spacing: -0.024rem;
	}

	.work-location-wrapper {
		gap: 0.5rem;
	}

	.work-availability-wrapper {
		gap: 0.75rem;
		margin-bottom: 0.5rem;
	}

	.text-work-availability,
	.text-current-location,
	.text-slash {
		font-size: 1.25rem;
		line-height: 100%;
	}

	.hero-buttons {
		flex-direction: row;
		margin-top: 3rem;
		gap: calc($hero-buttons-gap-bp-med + 0.25rem);
		align-items: center;
	}

	.icon-button {
		width: $hero-icon-button-size-bp-xl;
		height: $hero-icon-button-size-bp-xl;
		border-radius: 6px;
		padding: 0.75rem;
	}
}

/* About Hero Buttons */

.ic-menu {
	background-image: url(../assets/svg/home/ic-menu.svg);
}
