$boardspace-tag-color: #5488ca;

// Projects
.projects-section {
	padding: 2.5rem 0 3.5rem 0;
}

.projects-wrapper {
	display: flex;
	flex-direction: column;
	width: 90vw;
	margin: auto;
}

.project-card {
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
	align-items: left;
	width: 100%;
	margin-bottom: 2rem;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;

	&.project-boardspace {
		cursor: default;

		&:hover {
			.boardspace-coming-soon {
				color: #a8a8a8 !important;
			}
		}
	}
}

.project-link {
	transition: transform 0.3s ease-in-out;
}


.project-link.project-postup,
.project-link.project-tastebuds {

	&:hover {
		transform: scale(1.01);

		.project-title {
			color: $teal-accent;
		}

		.project-card-button-label::before {
			width: 100%;
		}
	}

	&:hover:active {
		transform: scale(1);
	}
}

.number-label {
	display: none;
	color: #a0a0a0;
	font-family: Inter;
	font-size: 2.44rem;
	font-weight: 500;
	line-height: 80%;
	margin-bottom: 1.5rem;
}

.project-thumb-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	background-color: #f6f6f6;
	overflow: hidden;
	padding: 2rem 5vw;
	aspect-ratio: 8 / 8;
	width: 90vw;
	max-height: 30rem;

	&#postupBG {
		background-color: #8bb4ac;
	}
}

.project-link {
	margin: 0;
	overflow: hidden;

	&.project-tastebuds,
	&.project-postup {
		cursor: pointer;
	}
}

.project-card-button-label {
	text-transform: uppercase;
	position: relative;
	margin-bottom: 0;
	color: $teal-accent !important;
	transition: font-weight 0.3s ease-in-out, transform 0.3s ease-in-out;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.035rem;
	margin: 0;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px; // Position the underline below the text
		width: 0; // Initial width set to 0 (invisible)
		height: 2px; // Thickness of the underline
		background-color: $teal-accent; // Underline color
		transition: width 0.3s ease-in-out; // Animate the width
	}

	// Hover directly over .project-card-button-label expands the underline
	&:hover::before {
		width: 100%; // Expand underline to full width
	}
}

.project-card-button {
	display: flex;
	position: relative;
	align-items: center;
	gap: 0.25rem;
	transition: font-weight 0.3s ease-in-out, transform 0.3s ease-in-out;
	color: $teal-accent !important;

	>.material-symbols-outlined {
		font-size: 1.25rem;
	}

	@include breakpoint(lg) {
		>.material-symbols-outlined {
			font-size: 1.5rem;
			padding-bottom: 0.125rem;
		}
	}
}


.project-thumb-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
	height: 100%;
	width: 100%;
	align-items: center;
	gap: 1rem;

	video {
		display: flex;
		height: 100%;
	}
}

.project-thumb {
	display: flex;
	margin: auto;
}

.thumb-boardspace {
	max-width: 100%;
}

.boardspace-coming-soon {
	width: fit-content;
	color: #cccccc !important;
	font-weight: 500;
	font-size: 1.125rem;
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
	margin-bottom: 0;
	//
	// 	&::before {
	// 		content: '';
	// 		position: absolute;
	// 		left: 0;
	// 		bottom: -2px; // Position the underline below the text
	// 		width: 0; // Initial width set to 0 (invisible)
	// 		height: 2px; // Thickness of the underline
	// 		background-color: $medium-grey; // Underline color
	// 	}
	//
	// 	&:hover::before {
	// 		width: 100%; // Expand underline to full width
	// 	}
}

.project-details-container {
	display: flex;
	flex-direction: column;
	width: 90vw;
	max-width: 100%;
	transition: transform 0.3s ease-in-out;
}

.project-details-wrapper {
	display: block;
	margin-bottom: 1.25rem;

	&.project-boardspace {
		margin-bottom: 0.75rem;
	}
}

.project-title {
	font-size: 2rem;
	line-height: 100%;
	margin-bottom: 1rem;
	font-weight: 600;
	transition: color 0.3s ease-in-out;

	&:hover~.project-details-container .project-title {
		color: $teal-accent;
	}

	&:hover .boardspace-coming-soon::before {
		width: 100%; // Expand the underline from left to right
	}
}

.project-subheader {
	color: $dark-grey;
	font-size: 0.87rem;
	line-height: 100%;
	font-weight: 400;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	margin-bottom: 0.75rem;
}

// Tags
.project-tags-wrapper {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	overflow-x: scroll;
	white-space: nowrap;
	scroll-behavior: smooth;
	width: 95vw;
	max-width: fit-content;
	padding-right: 5vw;
	margin-bottom: 1rem;

	// Firefox scrollbar hide
	scrollbar-width: none; // Firefox

	// Internet Explorer and Legacy Edge scrollbar hide
	-ms-overflow-style: none; // IE and Edge

	// Webkit browsers (Chrome, Safari, newer Edge) scrollbar hide
	&::-webkit-scrollbar {
		display: none; // Chrome, Safari, Edge
	}
}

.project-tag {
	display: flex;
	height: 1.5rem;
	padding: 0 0.5rem;
	justify-content: center;
	align-items: center;
	border-radius: 0.3125rem;

	font-size: 0.75rem;
	font-weight: 400;
	line-height: 150%;
	text-transform: capitalize;
}

.boardspace-tag {
	background: #d6e8ff85;
	color: $boardspace-tag-color;
}

.tastebuds-tag {
	background: #FDEFD4;
	color: #f0ac23;
}

.postup-tag {
	background: #E3F1EE;
	color: #62B5A4;
}

.project-description {
	color: $medium-grey;
	font-family: Inter;
	font-size: 1rem;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 0.75rem;
	max-width: 35rem;
}

@include breakpoint(sm) {
	.project-tags-wrapper {
		flex-wrap: wrap;
		overflow-x: visible;
		white-space: wrap;
		width: 90vw;
		padding-right: 0;
	}

	.thumb-boardspace,
	.thumb-tastebuds {
		max-height: 25rem;
	}

	.thumb-boardspace {
		width: auto;
	}

	.project-details-container {
		width: fit-content;
		max-width: 100%;
	}
}

@include breakpoint(med) {
	.projects-section {
		padding: 4rem 0;
	}

	.project-card {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"a b";
		column-gap: 1.75rem;
		margin-bottom: 5rem;
		align-items: center;
		max-height: 36rem;
	}

	.project-thumb-container {
		width: 100%;
		height: 100%;
		padding: 2.5rem;
	}

	project-thumb-container {
		padding: 2.5rem 0;
	}

	.thumb-tastebuds,
	.thumb-postup {
		height: 100%;
		object-fit: contain;
	}

	.project-details-container {
		grid-area: b;
		padding: 0;
		margin-top: 0;
	}

	.project-title {
		font-size: 2rem !important;
		letter-spacing: -0.0125rem;
		margin-bottom: 1.125rem;
	}

	.project-details-wrapper {
		margin-bottom: 0;

		&.project-boardspace {
			margin-bottom: 0;
		}
	}

	.project-tags-wrapper {
		margin-bottom: 1.05rem;
		width: 100%;
	}
}

@include breakpoint(lg) {

	.project-thumb-container {
		transition: padding 0.3s ease-in-out;
		max-height: 36rem;
	}

	.project-link:hover,
	.project-card.project-boardspace:hover {
		.project-thumb-container {
			padding: 2rem;
		}
	}

	.project-card {
		gap: 3rem;
	}

	.project-subheader {
		font-size: 0.9rem;
		margin-bottom: 1rem;
	}

	.project-title {
		font-size: 2.55rem !important;
		letter-spacing: -0.0125rem;
		margin-bottom: 1.25rem;
	}

	.project-tag {
		height: 1.75rem;
		font-size: 0.875rem;
	}

	.project-description {
		font-size: 1.125rem;
		margin-bottom: 1.25rem;
	}

	.project-card-button-label {
		font-size: 1.125rem;
	}
}

@include breakpoint(xl) {
	.projects-section {
		padding: 5rem 0;
	}

	.thumb-tastebuds,
	.thumb-postup {
		max-height: 32rem;
	}

	.project-description {
		margin-bottom: 1.5rem;
	}
}