#toolbox {
	flex-direction: column;
	align-items: center;
	background: #000000;
	justify-content: center;
	align-items: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	.wrapper {
		align-items: center;
		max-width: 90vw;

		.contentWrapper {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			align-items: center;
			justify-content: center;

			@include breakpoint(med) {
				flex-direction: row;
				align-items: start;
				justify-content: center;
				gap: 1rem;
			}

			#figma {
				background: #2e3139;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.03) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
			}

			#miro {
				background: #ffd12b;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.25) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
			}

			#webflow {
				background: #136df5;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.25) inset,
					-2px -2px 6px 0px rgba(49, 49, 49, 0.25), 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
			}

			#procreate {
				background: #242424;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 3px 0px rgba(255, 255, 255, 0.1) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
			}

			#adobe {
				background: #001e36;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 3px 0px rgba(255, 255, 255, 0.1) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);

				img {
					width: 2rem;
				}
			}

			#adobeXD {
				background: #470137;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 3px 0px rgba(255, 255, 255, 0.1) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);

				img {
					width: 2.25rem;
				}
			}

			#github {
				background: #242424;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 3px 0px rgba(255, 255, 255, 0.1) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
			}

			// Mobile-view
			.tools-swipe {
				.swiper,
				.my {
					margin-bottom: 1rem;
					border-radius: 0.3125rem;
					background: rgba(255, 255, 255, 0.15);
					height: fit-content;
					width: 95vw;
					max-width: 24rem;

					#github {
						background: #242424;
						box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 3px 0px rgba(255, 255, 255, 0.1) inset,
							-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
					}

					.swiper-wrapper {
						.swiper-slide {
							display: grid;
							grid-template-columns: repeat(5, 1fr);
							column-gap: 0.75rem;
							padding: 1rem;
							width: auto;
							background: transparent;
							text-align: center;
							justify-content: center;
							align-items: center;
							margin-bottom: 1.25rem;
							font-size: 1rem;

							@include breakpoint(med) {
								grid-template-columns: repeat(2, 1fr);
								grid-template-rows: repeat(2, 1fr);
							}

							.grid-item {
								display: flex;
								flex-direction: column;
								align-items: center;
								color: #fff;
								text-align: center;

								p {
									font-family: "Inter" sans-serif;
									font-size: 0.75rem;
									font-style: normal;
									font-weight: 500;
									line-height: 135%; /* 1.0125rem */
									margin: auto;
									text-wrap: nowrap;
								}

								> div:first-child {
									display: flex;
									margin-bottom: 0.75rem;
									padding: 0.5rem;
									justify-content: center;
									align-items: center;
									width: 3.5rem;
									height: 3.5rem;
									border-radius: 0.625rem;

									img {
										width: auto;
										height: 2.5rem;
									}

									img,
									.height-auto {
										width: 2.5rem;
										height: auto;
									}
								}

								@include breakpoint(med) {
									width: 3.5rem;
								}
							}

							.swiper-slide img {
								display: block;
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}

					.swiper-pagination {
						margin-bottom: 0.25rem;

						.swiper-pagination-bullet {
							display: inline-block;
							width: 8px;
							height: 8px;
							background-color: #ccc;
							border-radius: 50%;
							margin: 0 4px;
							transition: background-color 0.3s, transform 0.3s;
						}

						.swiper-pagination-bullet-active {
							fill: #000;
							width: 8px;
							height: 8px;
						}
					}
				}
			}

			.tools-grid-container {
				display: none;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: auto;
				width: 344px;
				gap: 1rem;
				margin: auto;
				margin-bottom: 1rem;
				padding: 1.5rem 2rem;
				border-radius: 0.3125rem;
				background: rgba(255, 255, 255, 0.15);

				.grid-item {
					color: #fff;
					text-align: center;
					font-family: "Inter" sans-serif;
					font-style: normal;
					font-weight: 500;
					line-height: 135%; /* 1.0125rem */

					p {
						margin: 0;
						text-align: center;
						margin: auto;
						font-size: 12px;
					}

					> div:first-child {
						display: flex;
						margin: auto;
						margin-bottom: 0.75rem;
						padding: 0.5rem;
						justify-content: center;
						align-items: center;
						width: 3.5rem;
						height: 3.5rem;
						border-radius: 0.625rem;

						img {
							width: 2.5rem;
							height: auto;
						}

						#logoHeight {
							width: auto;
							height: 2.5rem;
						}

						@include breakpoint(med) {
							width: 4rem;
							height: 4rem;
							padding: 0.75rem;

							img {
								width: 2.75rem;
							}

							#logoHeight {
								width: auto;
								height: 2.75rem;
							}
						}
					}

					#whiteBG {
						background: #fff;
						box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.05) inset,
							-1px -1px 6px 0px rgba(49, 49, 49, 0.25), 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
					}
				}
			}

			.desktop-only,
			.tools-grid-container {
				display: none;
				p {
					display: none;
				}
			}

			@include breakpoint(med) {
				.tools-grid-container {
					display: grid;
				}

				#design-tools {
					display: grid;
				}

				.tools-swipe {
					display: none;
				}
			}

			#projectmgmt {
				.tools-grid-container {
					display: grid;
					width: fit-content;
					gap: 0.6rem;
					padding: 1.25rem;
					grid-template-columns: repeat(2, 1fr);

					p {
						display: block;
					}

					.grid-item {
						margin-bottom: 0;
					}

					@include breakpoint(med) {
						grid-template-rows: repeat(2, 1fr);
					}
				}
			}
		}
	}

	h2 {
		color: white;
		text-align: center;
		margin-bottom: 1.5rem;
	}

	p {
		color: #fff;
		text-align: center;
		font-family: Inter;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 500;
		line-height: 125%;
		margin: auto;
	}

	// Wraps the tool containers only
	#devTools,
	.swiper-slide {
		.grid-item {
			> div:first-child {
				background-color: white;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.05) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.25), 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
			}
		}
	}
}
