nav {
	display: flex;
	position: fixed;
	background: #ffffff;
	color: #1e1e1e;
	position: fixed;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	top: 0;
	z-index: 1000;
	background: #fff;
}

.navbar-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	width: 90vw;
	align-items: center;
}

.navbar-logo img {
	height: 2rem; /* Adjust height as needed */
}

.navbar-menu-toggle {
	cursor: pointer;
}

.navbar-menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	width: 70%; /* Adjust width as needed */
	height: 100vh;
	flex-direction: column;
	gap: 1.5rem;
}

.nav-item {
	li,
	a {
		color: $dark-grey;
		text-transform: uppercase;
		font-size: 0.75rem;
		transition: color 0.3s;
		font-weight: 400;

		&:hover {
			color: #000000;
		}
	}

	&.active a {
		color: #000000;
		font-weight: 500;
	}
}

.logo-mhu {
	width: 2rem;
	height: 2rem;
}

.ic-menu {
	height: 2rem;
	width: 2rem;
}

.navbar-menu.show-menu {
	display: flex;
}

// .navbar-menu li {
// 	margin-bottom: 1rem;
// }
@include breakpoint(med) {
	nav {
		height: 5rem;
	}

	.navbar-logo img {
		width: 2.25rem;
		height: 2.25rem;
	}

	.navbar-wrapper {
		height: 3rem;
		max-width: 88rem;
	}

	.navbar-menu {
		flex-direction: row;
		position: relative;
		width: auto;
		height: auto;
	}

	.navbar-menu-toggle {
		display: none;
	}
}
