$navbar-mobile-height: 3rem;
$navbar-med-height: 4rem;
$progress-bar-height: 6px;
$navbar-logo-size-mobile: 1.5rem;
$nav-footer-max-width: 88rem;

nav {
	display: flex;
	position: fixed;
	// background: #ffffff;
	color: #1e1e1e;
	position: fixed;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: $navbar-mobile-height;
	top: 0;
	z-index: 2000;
	transition: background-color 0.3s ease, height 0.5s ease;
	background: #fff;
}

.navbar.scrolled-navbar {
	padding-top: 0.5rem;
}

.navbar-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	width: 90vw;
	align-items: center;
	height: 100%;
}

.navbar-logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: start;
	height: 100%;
	width: 100%;
}

.navbar-logo-image {
	height: $navbar-logo-size-mobile;
	width: $navbar-logo-size-mobile;
}

.navbar-menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	height: 100%;
	position: relative;
	height: auto;
	margin-top: 0;
	justify-content: center;
	gap: 1rem;

	transform: none;
}

.nav-item {
	padding: 0;
	padding-left: 0.5rem;
	list-style-type: none;
	width: fit-content;

	li,
	a {
		color: #565656;
		text-transform: uppercase;
		font-size: 0.75rem;
		transition: color 0.3s;
		font-weight: 400;
		padding: 0;

		&:hover {
			color: #000000;
		}
	}

	&.active a {
		color: #000000;
		font-weight: 500;
	}
}

.logo-mhu {
	width: 2rem;
	height: 2rem;
}

.ic-menu {
	height: 2rem;
	width: 2rem;
}

.navbar-menu.show-menu {
	display: flex;
}


@include breakpoint(med) {
	nav {
		height: $navbar-med-height;
	}

	.navbar-logo-image {
		width: 1.75rem;
		height: 1.75rem;
	}

	.navbar-wrapper {
		max-width: $nav-footer-max-width;
	}

	.scrolled-navbar-wrapper {
		max-width: none;
	}

	.navbar-menu {
		flex-direction: row;
		position: relative;
		width: auto;
		height: auto;
	}

	.navbar-menu-toggle {
		display: none;
	}
}

.navbar-menu-toggle {
	cursor: pointer;
}