.accordion {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	border-radius: 10px;
	cursor: pointer;
	background-color: #1f1f1f;
	padding: 0.75rem 1.25rem;
	margin-top: 0;
	width: 100%;
	transition: height 0.2s ease-out, border-radius 0s linear;

	p {
		display: flex;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 130%;
		text-align: left;
		margin: 0;
		flex: 1;
		color: white;
	}

	&:hover {

		p,
		.accordion__icon {
			opacity: 0.80;
			transition: opacity 0.2s ease-out;
		}
	}
}

.accordion__icon {
	transition: transform 0.4s;
	width: 1.5rem;
	height: 1.5rem;
	margin: auto;
}

.accordion__content {
	display: none;
	overflow: hidden;
	max-height: 0;
	background-color: #1f1f1f;
	transition: max-height 0.2s ease-out;
	padding: 0.75rem 1.25rem;
	padding-top: 0;
	border-radius: 0 0 10px 10px;

	p {
		margin-top: 0;
		margin-bottom: 0.5rem;
		color: white; // Make sure this is not being overridden elsewhere
		text-align: left;
	}

	span {
		color: white;
	}
}

.accordion.active {
	border-radius: 10px 10px 0 0;
	/* Adjust as needed */
}

.accordion--transparent--outlined {
	background-color: transparent;
	border-radius: 0;
	border-top: 2px solid $black;
	border-bottom: 2px solid $black;
	padding: 1rem 0;

	.accordion__header {
		background-color: transparent;

		p {
			color: black;
			font-size: 1.35rem;
			font-weight: normal;
		}

		.accordion__icon {
			width: 2rem;
			height: 2rem;
		}
	}

	.accordion__content {
		color: $dark-grey;
	}
}

.accordion--grey--outlined {
	background-color: $light-grey;

	.accordion__header {
		background-color: transparent;

		p {
			color: black;
			font-size: 1.35rem;
			font-weight: normal;
		}

		.accordion__icon {
			width: 2rem;
			height: 2rem;
		}
	}

	.accordion__content {
		color: $dark-grey;
	}
}

@include breakpoint(med) {
	.accordion {
		margin-top: 0.5rem;
		padding: 1rem 1.25rem;
		font-size: 1.25rem;
	}
}

.accordion__icon.rotate {
	transform: rotate(-180deg);
	transition: transform 0.2s ease-out;
}