$accordion-border-color: #e9e9e9;
//
// .accordion {
// 	width: 100%;
// 	background-color: #f0f0f0;
// 	padding: 0;
// 	padding: 0.25rem 1rem;
// 	cursor: pointer;
// 	overflow: hidden;
// 	/* Ensure content is hidden when collapsed */
// 	border-radius: 0;
// 	border-radius: 10px;
// 	/* Remove the default button border */
// 	text-align: left;
// 	// border-top: 1.5px solid $accordion-border-color;
// 	// border-bottom: 1.5px solid $accordion-border-color;
// 	border: 1.5px solid $accordion-border-color;
// }

.accordion {
	width: 100%;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	overflow: hidden;
	/* Ensure content is hidden when collapsed */
	border-radius: 0;
	/* Remove the default button border */
	text-align: left;
	border-top: 1.5px solid $accordion-border-color;
	border-bottom: 1.5px solid $accordion-border-color;

	&.border-top-0 {
		border-top: 0;
	}

	&.border-black {
		border-color: $black;
	}
}

.accordion_header {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.75rem 0.25rem;
	transition: background-color 0.3s ease-out;

	&:hover {
		background-color: $lightest-grey;

		p {
			color: $primary-color;
		}

		.accordion_icon {
			stroke: $primary-color;
		}
	}
}

.accordion_header p {
	font-size: 1.125rem;
	font-weight: 500;
	color: #1e1e1e;
	flex: 1;
	margin: 0;
}

.accordion_icon {
	transition: transform 0.3s ease-out;
	width: 1.5rem;
	height: 1.5rem;
	stroke: #1e1e1e;
}

.accordion_content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out, padding 0.3s ease-out;
	color: $dark-grey;

	li {
		color: $dark-grey;
		font-weight: 400;

		span {
			font-weight: 500;
			color: $dark-grey;
		}
	}
}

.accordion_content p {
	margin-top: 0.75rem;
	color: #1e1e1e;
}

.accordion-active .accordion_content {
	max-height: 100vh;
	/* Adjust to a large value to ensure full content visibility */
	padding-bottom: 0.75rem;
	/* Add padding to match the top */
}

.accordion-active .accordion_icon {
	transform: rotate(-180deg);
}



.accordion--transparent--outlined {
	background-color: transparent;
	border-radius: 0;
	border-top: 2px solid $black;
	border-bottom: 2px solid $black;
	padding: 1rem 0;

	.accordion__header {
		background-color: transparent;

		p {
			color: black;
			font-size: 1.35rem;
			font-weight: normal;
		}

		.accordion__icon {
			width: 2rem;
			height: 2rem;
		}
	}

	.accordion__content {
		color: $dark-grey;
	}
}

.accordion--grey--outlined {
	background-color: $light-grey;

	.accordion__header {
		background-color: transparent;

		p {
			color: black;
			font-size: 1.35rem;
			font-weight: normal;
		}

		.accordion__icon {
			width: 2rem;
			height: 2rem;
		}
	}

	.accordion__content {
		color: $dark-grey;
	}
}