@use "@abstracts/all-abstracts" as *;

.project-hero {
  background-color: $boardspace-tag-color;
}

.two-cards_grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: space(4);
  width: fit-content;
}

.card_grid-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: stretch;
  align-self: start;
  background-color: $white;
  border-radius: 0.5rem;
  overflow: hidden;
  width: fit-content;
  border: 0.5px solid $light-grey;
  box-shadow: 0 1px 0.25rem 0 rgba(0, 0, 0, 0.15);
}

.card_grid-item .card-icon {
  display: flex;
  padding: space(4);
  background-color: $lightest-grey;
}

.card_grid-item img {
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
}

.card_grid-item .card_content {
  padding: space(4);
}

.card_grid-item .card_content p {
  font-size: $text-base;
  margin-bottom: space(2);
}

.card_grid-item .card_content p:last-child {
  margin-bottom: 0;
}

.card_grid-item .card_content .card_headline {
  font-weight: 500;
  margin-bottom: space(4);
}

.userflows-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: space(8);
  grid-column-gap: space(8);
}

.userflows-grid .grid-item-01 {
  grid-area: 0.25;
}

.userflows-grid .grid-item-02 {
  grid-area: 0.333333;
}

.userflows-grid .grid-item-03 {
  grid-area: 0.375;
}

.grid-cards .grid-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: stretch;
  align-self: start;
  background-color: $white;
  border-radius: 0.5rem;
  overflow: hidden;
  min-width: 0;
  border: 0.5px solid $light-grey;
  box-shadow: 0 1px 0.25rem 0 rgba(0, 0, 0, 0.15);
}

.grid-cards .grid-item .card-icon {
  display: flex;
  padding: space(4);
  background-color: $lightest-grey;
}

.grid-cards .grid-item img {
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
}

.grid-cards .grid-item .content {
  padding: space(4);
}

.grid-cards .grid-item .content p.headline {
  font-weight: 500;
  margin-bottom: space(1);
}

.grid-cards .grid-item .content p {
  padding-bottom: space(2);
  font-size: $text-base;
}

#projectBrief.grid-01 > .grid-02 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: space(4);
  width: 100%;
}

#projectBrief.grid-01 > .grid-02 > .grid-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: stretch;
  align-self: start;
  background-color: $white;
  border-radius: 0.5rem;
  overflow: hidden;
  min-width: 0;
  border: 0.5px solid $light-grey;
  box-shadow: 0 1px 0.25rem 0 rgba(0, 0, 0, 0.15);
}

#projectBrief.grid-01 > .grid-02 > .grid-item .card-icon {
  display: flex;
  padding: space(4);
  background-color: $lightest-grey;
}

#projectBrief.grid-01 > .grid-02 > .grid-item img {
  margin: auto;
  width: 2.5rem;
  height: 2.5rem;
}

#projectBrief.grid-01 > .grid-02 > .grid-item .content {
  padding: space(4);
}

#projectBrief.grid-01 > .grid-02 > .grid-item .content p.headline {
  font-weight: 500;
  margin-bottom: space(1);
}

#projectBrief.grid-01 > .grid-02 > .grid-item .content p {
  margin: 0;
  font-size: $text-sm;
}

.grid-methods-header {
  display: flex;
  flex-direction: row;
  gap: space(4);
  min-width: 0;
}

.grid-methods-header p {
  margin: 0;
  align-self: center;
  align-self: stretch;
  text-align: left;
}

.grid-methods-header div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.competitorCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: space(2);

  &__logo {
    display: flex;
    width: 5rem;
    height: 5rem;
    padding: space(2);
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid $light-grey;
    background: $lightest-grey;
  }

  > p {
    font-size: $text-xs;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.42px;
    text-align: center;
  }
}

.accordion .accordion_header {
  background-color: $white;
  border-left: 0.5rem solid $invalid-red;
  border-width: 0 0 0 0.5rem;
  cursor: pointer;
  padding: space(4);
  width: 100%;
  outline: 0;
  overflow: hidden;
  font-size: $text-base;
  font-weight: 500;
  line-height: 130%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:
    background-color 0.2s,
    transform 0.4s;
}

.accordion .accordion_header:hover {
  background-color: $lightest-medium-grey;
  color: $emphasis-blue;
}

.accordion .accordion_header:active {
  background-color: $light-grey;
  color: $dark-grey;
}

.accordion .accordion_content {
  border-left: 0.5rem solid $invalid-red;
  max-height: 0;
  overflow: hidden;
  background-color: $light-medium-grey;
  transition: max-height 0.2s ease-out;
}

.accordion .accordion_content p {
  padding: space(4);
  font-size: $text-sm;
  margin: 0;
}

.blockquote--boardspace {
  margin-bottom: space(2);
  padding: space(4) space(4) space(4) space(6);
  background-color: $lightest-grey;

  .blockquote_content {
    border-left: 0.25rem solid $medium-grey;
    padding: 0;
    background: none;

    > p {
      color: $dark-grey;
      font-weight: 350;
      line-height: 145%;
    }
  }
}

#sketchesIntro .item {
  flex: 1;
  align-self: stretch;
}

#sketchesIntro .item:first-child {
  flex: 60;
}

#sketchesIntro .item:last-child {
  flex-direction: column;
  flex: 40;
  gap: space(2);
  min-width: 20rem;
}

.lf-wireframes-pollsHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: space(4);
}

.lf-wireframes_container {
  display: flex;
  flex-direction: column;
  gap: space(10);
  justify-items: left;
}

.lf-wireframes_container .item {
  display: flex;
  flex: 1;
}

.lf-wireframes_container .item:first-child {
  flex-direction: row;
  gap: space(4);
}

.lf-wireframes_container .item:last-child {
  flex: 30;
  flex-direction: column;
  gap: space(6);
}

#lightbox-lfWireframes {
  display: flex;
  flex-direction: row;
  gap: space(4);
}

#lightbox-lfWireframes .image-wrapper img {
  border: 0.5px solid $pure-black;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: space(4);
}

.caption {
  font-size: $text-base;
  text-align: center;
}

.lightbox .caption {
  color: $white;
}

.lightbox-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: space(4);
  width: 80%;
  max-width: 60rem;
  margin: auto;
}

.lightbox-content img {
  width: auto;
  max-width: 100%;
  max-height: 90vh;
  margin: auto;
  align-self: center;
}
