@use "@abstracts/all-abstracts" as *;

$content-margin-bottom: space(6);

footer {
  display: flex;
  flex-direction: column;
  gap: space(5);
  padding: space(8) 0 space(8) 0;
  background-color: white;
  justify-content: start;

  @include breakpoint(med) {
    padding: space(12) 0;

    button {
      width: fit-content;
    }

    .cta-buttons {
      display: flex;
      flex-direction: row;
      gap: space(4);
    }
  }

  @include breakpoint(xl) {
    padding: space(20) 0;
  }

  .headline {
    max-width: 21rem;
    color: $black;
    font-family: Inter;
    font-size: clamp(2rem, 5vw, 4rem) !important;
    font-weight: 600;
    margin-bottom: 0;
    width: fit-content;
    letter-spacing: -0.075rem;
    line-height: 125%;

    @include breakpoint(med) {
      max-width: 35rem;
      letter-spacing: -0.125rem;
    }
  }

  .tagline {
    color: $medium-grey;
    font-family: "IBM Plex Mono";
    font-style: normal;
    line-height: 145%;
    letter-spacing: 0.04375rem;
    text-align: left;
    font-size: $text-base;
    margin-bottom: $content-margin-bottom;
  }

  .copyright-text {
    color: $dark-grey;
    font-family: Inter;
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: 0.02rem;
    margin-bottom: 0;
    font-size: $text-base;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: $nav-footer-max-width;
    margin: auto;
    gap: space(6);

    @include breakpoint(med) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: space(8);
    }
  }

  .social-links-wrapper {
    display: flex;
    flex-direction: row;
    gap: space(3);
    width: fit-content;
    align-self: center;
    margin-bottom: space(4);

    @include breakpoint(med) {
      margin-bottom: $content-margin-bottom;
    }
  }

  .anchor-link {
    padding-right: space(3);
    color: $teal-accent !important;
    margin-bottom: 0;
    width: fit-content;
    font-weight: 400 !important;
    text-wrap: nowrap;
    line-height: 100%;
    display: inline-flex;
    align-items: center;
    min-height: 44px;

    @include breakpoint(med) {
      min-height: 0;
      border-right: 2px solid $teal-accent;
    }
  }

  .email-link-wrapper {
    display: none;
    flex-direction: row;
    gap: space(2);
    align-items: center;
    margin-bottom: 0;
    padding-right: 0;
    border: 0;

    @include breakpoint(med) {
      display: flex;
    }
  }

  .email-link {
    @include hover-underline-self($medium-grey);
  }
}
