@import '../../scss/abstracts/all-abstracts';
$nav-footer-max-width: 78rem;

footer {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	padding: 2.25rem 0 2rem 0;
	background-color: $lightest-grey;
	justify-content: start;
}

.headline {
	max-width: 21rem;
	color: #1e1e1e;
	font-family: Inter;
	font-size: clamp(2rem, 5vw, 3rem) !important;
	font-weight: 700;
	margin-bottom: 0;
	width: fit-content;
	letter-spacing: -0.01rem;
	line-height: 125%;
}

.tagline {
	color: $medium-grey;
	font-family: "IBM Plex Mono";
	font-style: normal;
	line-height: 145%;
	letter-spacing: 0.04375rem;
	text-align: left;
	font-size: 1rem;
	margin-bottom: 0.75rem;
}

.copyright-text {
	color: $dark-grey;
	font-family: Inter;
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	line-height: 135%;
	/* 1.18125rem */
	letter-spacing: 0.02rem;
	margin-bottom: 0;
	font-size: 1rem;
	// ss
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 90vw;
	max-width: $nav-footer-max-width;
	margin: auto;
	gap: 1rem;
}

.social-links-wrapper {
	display: flex;
	flex-direction: row !important;
	gap: 0.75rem;
	width: fit-content;
	align-self: center;
	margin-bottom: 1rem;

	>.header {
		font-size: 1.25rem !important;
		font-weight: 500 !important;
		margin-bottom: 0;
	}
}

.social-link.last-child>a>p {
	padding-right: 0;
	border: 0;
}

.link-heading {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 0;
	color: $dark-grey;
}

.social-link {
	p {
		width: fit-content;
		font-weight: 400 !important;
		text-wrap: nowrap;
		line-height: 100%;
	}

	a>p {
		padding-right: 0.75rem;
		border-right: 2px solid $teal-accent;
		color: $teal-accent !important;
		margin-bottom: 0;
	}
}

	margin-bottom: 0;
	text-wrap: nowrap;
	line-height: 100%;
}

@include breakpoint(med) {
	footer {
		padding: 3rem 0;

		button {
			width: fit-content;
		}
	}

	.wrapper {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
	}

	.headline {
		max-width: 29rem;
	}

	.cta-buttons {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}
}