@import '../../scss/abstracts/all-abstracts';
$nav-footer-max-width: 88rem;

footer {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	padding: 2.25rem 0 2rem 0;
	background-color: $lightest-grey;
	justify-content: start;
}

.content {
	width: 90vw;

	h2 {
		margin-bottom: 0.5rem;
	}

	#footer-text {
		color: #444;
		font-family: Inter;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		margin-bottom: 0;
	}
}

.headline {
	color: #1e1e1e;
	font-family: Inter;
	font-size: clamp(2.125rem, 5vw, 4.25rem) !important;
	font-weight: 700;
	margin-bottom: 1.25rem;
	width: fit-content;
	letter-spacing: -0.01rem;
	line-height: 125%;
}

.tagline {
	color: $medium-grey;
	font-family: "IBM Plex Mono";
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 145%;
	letter-spacing: 0.04375rem;
	text-align: left;
	margin-right: 20%;
	margin-bottom: 1rem;
}

.copyright-text {
	color: $medium-grey;
	font-family: Inter;
	font-family: "IBM Plex Mono";
	font-size: 1;
	font-style: normal;
	font-weight: 400;
	line-height: 135%;
	/* 1.18125rem */
	letter-spacing: 0.02rem;
	margin-bottom: 0;
	// ss
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90vw;
	margin: auto;
	max-width: $nav-footer-max-width;
	align-items: center;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: auto;
}

.hero-buttons-compact-wrapper {
	display: flex;
	flex-direction: column !important;
	margin-bottom: 1.5rem !important;
	gap: 0.75rem;
}

.hero-button-link {
	width: fit-content;
}

.hero-button-link>a>p {
	font-weight: 400 !important;
}

@include breakpoint(med) {
	footer {
		padding: 3rem 0;

		button {
			width: fit-content;
		}
	}

	.wrapper {
		align-items: center;
	}

	.text-wrapper {
		margin: auto;
	}

	.tagline {
		text-align: center;
	}

	.cta-buttons {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}
}