@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/breakpoints-mixins" as *;
@use "../../scss/abstracts/placeholders" as *;

.hero-overview-wrapper {
	@extend %flex-col;
	@extend %container-border-bottom;
}

.hero {
	@extend %flex-start;
	height: auto;
	overflow: hidden;
	margin-top: 3rem;
	min-height: 17rem;
	height: 55vh;
	max-height: 20.25rem;
	padding-top: 2rem;
}

.hero-video {
	display: flex;
	max-width: 80%;
	max-height: 21rem;
	margin: auto;
}

.hero-video-postup {
	width: 50%;
	margin: auto;
}

@include breakpoint(med) {
	.hero-overview-wrapper {
		height: 100vh;
		max-height: 60.125rem;
	}

	.hero {
		padding: 2rem;
		max-height: 33rem;
		margin-top: 4rem;
		flex: 1;
	}

	.hero-video-postup,
	.hero-video {
		display: flex;
		max-width: 80%;
		max-height: 100%;
		margin: auto;
	}
}