.hero {
	display: flex;
	align-items: flex-start;
	height: 50vh;
	overflow: hidden;
	padding-top: 2rem;

	&.hero-tastebuds {
		height: 45vh;
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: flex-start;
		height: 100%;
	}

	.hero-tastebuds-video {
		display: flex;
		margin: auto auto 0 auto;
		width: 80%;
		max-width: 20rem;
	}

	&-postup-video {
		display: flex;
		margin: auto auto 0 auto;
		width: 50%;
		max-width: 15rem;
	}

	&__image-wrapper {
		overflow: hidden;
		margin: auto;
		margin-bottom: 0;
	}

	&__image {
		display: flex;
		width: 100%;
		max-width: 20rem;
	}

	@include breakpoint(sm) {
		//
		// 		&-postup-video {
		// 			display: flex;
		// 			margin: auto auto 0 auto;
		// 			width: 50%;
		// 			max-width: 15rem;
		// 		}
	}

	@include breakpoint(med) {
		height: 60vh;
		padding-top: 3rem;
		max-height: 30rem;

		&.hero-tastebuds {
			height: 50vh;
			max-height: 36rem;
		}

		&__gif-wrapper {
			width: 35%;
			max-width: 20rem;
			height: 100%;
		}

		&-postup-video &__image-wrapper {
			max-width: 30rem;
		}
	}

	@include breakpoint(lg) {
		padding-top: 2rem;
		max-height: 36rem;

		.hero-tastebuds {
			padding-top: 2rem;
			max-height: 36rem;
		}

		&-postup-video {
			height: auto;
			max-width: 20rem;
		}

		&__image {
			max-width: 34rem;
			transform: translateY(2rem);
		}


		.hero-tastebuds-video {
			max-width: 25rem;
		}
	}

	@include breakpoint(xl) {


		&__image-wrapper {
			max-width: 40rem;
		}
	}
}