$primary-color: #1e1e1e;
$section-padding-mobile: 2.5rem;
$section-padding-med: 3.625rem;

@import "abstracts/all-abstracts";

@import "base/all-base";

@import "utilities/all-utilities";

@import "../components/global-components";

@import "../components/about-components";

@import "about/all-about";

.about_wrapper,
.toolbox_section-wrapper,
.faqs-wrapper,
.interests-wrapper {
	max-width: 58rem;
}
// 
// main > .wrapper > section {
// 	width: 100vw;
// }

// Typography
.section-heading {
	color: $black;
	font-family: Inter;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 4.18rem */

	@include breakpoint(med) {
		font-size: 3.1rem;
		letter-spacing: -0.1rem;
		margin-bottom: 1rem;
	}

	@include breakpoint(lg) {
		font-size: 3.8rem;
		letter-spacing: -0.1rem;
		margin-bottom: 1rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: "Inter", sans-serif;
	color: $black;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

h1 {
	color: var(--Colors-Off-Black, #1e1e1e);
	font-family: Inter;
	font-size: 1.625rem;
	font-style: normal;
	font-weight: 600;
	line-height: 125%; /* 2.03125rem */
	letter-spacing: -0.01625rem;
}

h2 {
	font-family: "Inter" sans-serif;
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 600;
	line-height: 110%; /* 1.925rem */
	letter-spacing: -0.0525rem;
}

h3 {
	font-family: Inter;
	font-size: 2.1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 110%; /* 4.18rem */
	// margin: 0 12.75px;
	margin-bottom: 2rem;
	letter-spacing: 0;
	width: fit-content;
	text-align: left;

	@include breakpoint(med) {
		font-size: 2.8rem;
		letter-spacing: -0.0425rem;
		margin: 0;
		margin-bottom: 2rem;
	}
}

p {
	color: $black;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 1.6875rem */
	text-align: left;
	margin-top: 0;
	margin-bottom: 1.125rem;
	color: $off-black;
	align-self: stretch;
	text-align: left;

	@include breakpoint("mobile-lg") {
		font-size: 1.125rem;
		margin-bottom: 1.125rem;
	}
}

.noto-serif {
	color: $black;
	font-family: "Noto Serif", serif;
	font-size: 1.125rem;
	font-weight: 350;
	line-height: 160%; // 28.8px
}
