$primary-color: #479a9a;
$section-padding-mobile: 3rem;
$section-padding-med: 3.625rem;

@import "abstracts/all-abstracts";

$primary-color: $primary-green;

@import "base/all-base";

@import "utilities/all-utilities";

@import "../components/global-components";

@import "../components/about-components";

@import "about/all-about";

.about_wrapper,
.toolbox_section-wrapper,
.faqs-wrapper,
.interests-wrapper {
	max-width: 58rem;
}

//
// main > .wrapper > section {
// 	width: 100vw;
// }

.section-wrapper {
	width: 90vw;
	max-width: 58rem;
}


// Typography
.section-heading {
	color: $black;
	font-family: Inter;
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 120%;
	/* 4.18rem */

	@include breakpoint(med) {
		font-size: 3.1rem;
		letter-spacing: -0.1rem;
		margin-bottom: 1rem;
	}

	@include breakpoint(lg) {
		font-size: 3.8rem;
		letter-spacing: -0.1rem;
		margin-bottom: 1rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: "Inter", sans-serif;
	color: $black;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

h1 {
	color: var(--Colors-Off-Black, #1e1e1e);
	font-family: Inter;
	font-size: 2.488rem;
	font-weight: 600;
	line-height: 120%;
	/* 2.03125rem */
	letter-spacing: -0.0425rem;
	margin-bottom: 1rem;


	@include breakpoint(med) {
		font-size: 2.986rem;
		letter-spacing: -0.0525rem;
		margin-bottom: 1.5rem;
	}
}

h2 {
	font-size: 2.074rem;
	font-weight: 600;
	line-height: 120%;
	/* 1.925rem */
	letter-spacing: -0.0525rem;
	margin-bottom: 2.5rem;

	@include breakpoint(med) {
		font-size: 2.488rem;
		letter-spacing: -0.0425rem;
	}
}

h3 {
	font-size: 1.728rem;
	font-weight: 600;
	line-height: 110%;
	margin-bottom: 2.5rem;
	letter-spacing: 0;
	width: fit-content;
	text-align: left;

	@include breakpoint(med) {
		font-size: 2.074rem;
		letter-spacing: -0.0425rem;
		margin: 0;
		margin-bottom: 2rem;
	}
}

p {
	color: black;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 140%;
	/* 1.6875rem */
	text-align: left;
	margin-top: 0;
	margin-bottom: 1.125rem;
	color: $off-black;
	align-self: stretch;
	text-align: left;
	letter-spacing: 0;

	@include breakpoint("mobile-lg") {
		font-size: 1.125rem;
		margin-bottom: 1.125rem;
		line-height: 145%;
	}
}

.noto-serif {
	color: $black;
	font-family: "Noto Serif", serif;
	font-size: 1.125rem;
	font-weight: 350;
	line-height: 160%; // 28.8px
}