$primary-color: #076261;
$wireframe-max-height: 40rem;

@import "abstracts/all-abstracts";

@import "base/all-base";

@import "../components/global-components";

@import "../components/project-components";

@import "postup/all-postup";

@import "sections/all-sections";

@import "postup/all-postup";

@import "utilities/all-utilities";

$super-light-grey: #fafafa;

body {
    background-color: #97beb6;
}

main {
    background-color: white;
}

#hero {
    padding-top: 5rem;
    background-color: #97beb6;
}

#overview {
    background-color: transparent;
}

#the-constraints {
    background-color: $lightest-grey;
}

.navbar-top {
    position: fixed;
    width: 100%;
    transition: background-color 0.1s ease-in;
}

.default-nav-color {
    background-color: transparent;
}

.postup-hero-nav-color {
    background-color: transparent;
}

.navbar-color-overview,
.navbar-color-the-solution {
    background-color: transparent;
}

#hero,
#overview,
#the-challenge,
#the-constraints,
#the-solution,
#research-process,
#monday,
#tuesday,
#wednesday,
// #thursday,
// #friday,
#final-prototype,
#next-steps,
#reflection,
#conclusion,
#thank-you {
    display: none !important;
}