$primary-color: #076261;
$wireframe-max-height: 40rem;

@import "abstracts/all-abstracts";

@import "base/all-base";

@import "../components/global-components";

@import "../components/project-components";

@import "postup/all-postup";

@import "sections/all-sections";

@import "utilities/all-utilities";

@import "../components/MediaCarousel/MediaCarousel";

$super-light-grey: #fafafa;

body {
    background-color: #98bfb6;
}

main {
    background-color: white;
}

#hero {
    background-color: #98bfb6;
}

/* iOS-specific styles */
@media only screen and (min-device-width: 375px) and (max-device-width: 1024px) {

    body,
    #hero {
        background-color: #8CB6AC;
    }
}

#overview {
    background-color: transparent;
}

#the-constraints {
    background-color: $lightest-grey;
}

// .navbar-top {
//     position: fixed;
//     width: 100%;
//     transition: background-color 0.1s ease-in;
// }
//
// .default-nav-color {
//     background-color: transparent;
// }
//
// .postup-hero-nav-color {
//     background-color: transparent;
// }
//
// .navbar-color-overview,
// .navbar-color-the-solution {
//     background-color: transparent;
// }

// #hero,
// #overview,
// #the-challenge,
// #the-constraints,
// #the-solution,
// #research-process,
// #monday,
// #tuesday,
// #wednesday,
// #thursday,
// #friday,
// #iterations-monetization #final-prototype,
// #next-steps,
// #reflection,
// #conclusion,
// #thank-you {
//     display: none !important;
// }