@use "../../scss/abstracts/breakpoints-mixins" as *;
@use "../../scss/abstracts/variables" as *;

$card-font-color: $black;

// Stashed features
.stashed-features {
	&_wrapper {
		cursor: grab;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		justify-content: start;
		margin: 1rem auto;
		margin-top: 2rem;
		overflow-x: scroll;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		cursor: default;
		width: 90vw;

		-ms-overflow-style: none;
		scrollbar-width: none;

		/* Hide scroll bar */
		&::-webkit-scrollbar {
			display: none;
		}

		@include breakpoint(lg) {
			width: 100%;
			max-width: 78rem;
			align-items: center;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			cursor: default;
			overflow: visible;
		}
	}

	&_grid-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		gap: 1rem;
		/* Enable horizontal scroll */

		max-width: none;
		width: fit-content;

		// li:first-child {
		//
		// }

		@include breakpoint(xl) {
			margin-left: auto;
			margin-right: auto;
			justify-self: center;
			align-self: center;
			overflow: visible;

			li:last-child {
				margin: 0;
			}
		}
	}

	&_carousel-nav-arrow_wrapper {
		display: flex;
		gap: 1rem;
		list-style-type: none;
		justify-content: flex-end;
		flex-direction: row;
		list-style-type: none;

		li {
			padding: 0;
			transform: none;
			width: fit-content;
		}

		@include breakpoint(lg) {
			display: none;
		}
	}

	&_carousel-nav-arrow {
		width: 3rem;
		height: 3rem;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background-color: #f0f0f0 !important;
		transition: opacity 0.3s ease-in-out;

		@include breakpoint(med) {
			width: 3.25rem;
			height: 3.25rem;
		}

		&:hover {
			background-color: #e0e0e0 !important;
		}

		&:active {
			background-color: #d0d0d0 !important;
		}
	}
}

.stashed-features.card {
	scroll-snap-align: center;
	scroll-snap-stop: always;
	background-color: #f9f9f9;
	width: 18.75rem;
	height: fit-content;
	aspect-ratio: 7/6;

	&.last-child {
		margin-right: 5vw;
	}

	@include breakpoint(lg) {

		&.first-child,
		&.last-child {
			margin: 0;
		}

		.card_icon {
			opacity: 0.8;
		}
	}
}