@use "../abstracts/all-abstracts" as *;

#research-process {
	header h2 {
		margin-bottom: 0;
	}
}

.design-sprint-graphic {
	margin: 1rem auto 1.5rem auto;
	width: 90vw;
	max-width: 33rem;

	img {
		width: 100%;
	}

	@include breakpoint(med) {
		margin: 1rem auto 2rem auto;
	}
}